/* Base styles */
nav[aria-label='Main navigation'] {
  background-color: var(--light);
  background-image: var(--header-nav-bg);
  border-left: 2px solid var(--borders);
  border-right: 2px solid var(--borders);
  display: flex;
  grid-area: headerNav;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  top: 0;

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  &::before {
    background-image: var(--header-nav-border-bg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 16px;
    top: -8px;
  }

  &::after {
    background-image: var(--header-nav-border-bg-bottom);
    background-position:
      center 0,
      center 3px;
    background-repeat: repeat-x, repeat-x;
    bottom: -90px;
    height: 96px;
  }
}

/* Menu list */
nav[aria-label='Main navigation'] ul {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  list-style: none;
  padding: 0;

  li {
    text-align: center;
  }
}

/* Dropdown button */
.menu-item,
.dropdown__title {
  align-items: center;
  background-color: var(--nav-link-background-color);
  border-radius: 8px;
  border: 2px solid var(--nav-link-border-color);
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: 10px;
  transition: background 0.3s;
  width: 100%;
}

.dropdown__title:hover,
.dropdown__title:focus {
  background-color: var(--nav-link-background-hover);
  color: var(--nav-link-color-hover);
}

/* Arrow indicator */
.arrow {
  font-size: 0.6rem;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

/* Rotate arrow when open */
.dropdown__title.open .arrow {
  transform: rotate(180deg);
}

.dropdown__title.open {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  color: var(--nav-link-border-color);

  &:focus,
  &:hover {
    color: var(--nav-link-color-hover);
  }
}

/* Dropdown menu */
.dropdown__menu {
  display: none;
  padding-left: 16px;
  transition: max-height 0.3s ease-out;
}

/* Open state for accordion */
.dropdown__menu.open {
  display: flex;
}

/* Menu item */
.menu-item {
  background-color: var(--nav-link-background-color);
  border-radius: 8px;
  border: 2px solid var(--nav-link-border-color);
  color: var(--nav-link);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.menu-item:hover,
.menu-item:focus {
  background-color: var(--nav-link-background-hover);
  color: var(--nav-link-color-hover);
  outline: none;
}

/* Desktop Hover Menu Styles */
@media (min-width: 768px) {
  nav[aria-label='Main navigation'] ul {
    gap: 1em;
  }

  .dropdown {
    position: relative;
  }

  .dropdown__menu {
    background-color: var(--dropdown-bg);
    background-image: var(--dropdown-bg-url);
    border-radius: 8px;
    border: 2px solid var(--nav-link-border-hover);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    left: 50%;
    min-width: 24ch;
    opacity: 0.3;
    padding: 2rem;
    position: absolute;
    top: calc(100% + 0.25rem);
    transform-origin: top center;
    transform: rotateX(-90deg) translateX(-50%);
    transition: 280ms all 120ms ease-out;
    visibility: hidden;
    z-index: 100;
    text-align: center;

    li {
      margin-top: 3px;
      margin-bottom: 5px;
      position: relative;
    }

    .menu-item,
    .dropdown__title {
      text-align: center;
      margin: 0 auto;
      width: 90%;
    }
  }

  .dropdown__menu .dropdown__menu {
    text-align: center;
    left: calc(100% + 0.1rem);
    opacity: 0;
    top: 0;
    transform: translateX(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    visibility: hidden;
  }

  .dropdown__menu .dropdown:hover > .dropdown__menu,
  .dropdown__menu .dropdown:focus-within > .dropdown__menu {
    text-align: center;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  .dropdown:hover > .dropdown__menu,
  .dropdown:focus-within > .dropdown__menu {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
  }

  .arrow {
    display: none; /* Hide arrow on desktop */
  }
}

/* Mobile Accordion Styles */
@media (max-width: 767px) {
  nav[aria-label='Main navigation'] {
    justify-content: flex-start;
    flex-direction: column;

    ul {
      flex-direction: column;
    }
  }

  nav[aria-label='Main navigation'] ul {
    gap: 0.5rem;

    ul {
      display: none;
    }
  }

  .dropdown__menu {
    display: none;
    padding: 0 0 0 10px;
  }

  .dropdown__menu.open {
    display: flex;
    color: var(--nav-link);
    background-color: var(--nav-link-background-color);
    padding: 10px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid var(--nav-link-border-color);
    border-top: 0;
  }
}
