:root.theme-debut {
  --color-body-bg: rgb(var(--color-white));

  --color-text-primary: rgb(var(--color-black));
  --color-text-secondary: rgb(var(--color-gray-50));
  --color-text-tertiary: rgb(var(--color-gray-30));

  --color-focus-outline: rgb(var(--color-black));

  --color-card-bg: rgb(var(--color-gray-10));

  --color-button-primary-bg: rgb(var(--color-gray-10));
  --color-button-primary-hover-bg: rgb(var(--color-gray-20));
  --color-button-primary-text: rgb(var(--color-black));

  --color-button-secondary-bg: rgb(var(--color-black));
  --color-button-secondary-hover-bg: rgb(var(--color-gray-70));
  --color-button-secondary-text: rgb(var(--color-gray-10));

  /* Showcase Cards */

  /* Projects */

  /* Ikea Favoritos */
  --color-ikea-favoritos-card-bg: rgb(255, 233, 178);
  --color-ikea-favoritos-card-text: rgb(48, 68, 91);
  --color-ikea-favoritos-card-door-gradient: linear-gradient(204deg, rgb(48, 68, 91) 10%, rgb(255, 233, 178) 100%);

  /* Overheard */
  --color-overheard-card-bg: rgb(219, 243, 232);
  --color-overheard-card-text: rgb(41, 49, 77);

  /* Duolingo Fowl langiage */
  --color-duolingo-fl-card-bg: linear-gradient(40deg, rgb(43, 177, 243) 0%, rgb(255, 86, 86) 100%);
  --color-duolingo-fl-card-text: rgb(66, 66, 66);
  --color-duolingo-fl-card-cover-border: rgb(255, 255, 255);

  /* Lab */

  /* 3D Ballpit */
  --color-ballpit-card-bg: rgb(207, 221, 250);
  --color-ballpit-card-text: rgb(var(--color-black));
  --color-ballpit-card-spheres-color: rgb(169, 190, 232);

  /* 3D Carousel */
  --color-carousel-card-bg: rgb(219, 219, 243);
  --color-carousel-card-text: rgb(var(--color-black));
  --color-carousel-card-cards-gradient: linear-gradient(180deg, rgb(206, 206, 234) 0%, rgb(125, 125, 165) 100%);
}
