:root {
  --layout-grid-gap: 12px;
  --max-width: 1300px;
  --padding: 20px;
}

body[data-theme='pixel-princess'] {
  --purple-50: #fcf5ff;
  --purple-100: #f7e5ff;
  --purple-200: #ebc7ff;
  --purple-300: #dea8ff;
  --purple-400: #c879ff;
  --purple-500: #c261ff;
  --purple-600: #bd42ff;
  --purple-700: #ae00ff;
  --purple-800: #8f00c7;
  --purple-900: #6b008f;
  --purple-950: #440057;
  --orange-50: #fff7f2;
  --orange-100: #fff0e6;
  --orange-200: #ffd9bf;
  --orange-300: #ffc299;
  --orange-400: #ff954d;
  --orange-500: #ff6700;
  --orange-600: #e65d00;
  --orange-700: #993e00;
  --orange-800: #732e00;
  --orange-900: #4d1f00;
  --pink-50: #fef0f4;
  --pink-100: #fee1e9;
  --pink-200: #fdc4d3;
  --pink-300: #fcabc1;
  --pink-400: #fb8eab;
  --pink-500: #fa7095;
  --pink-600: #f95480;
  --pink-700: #f10847;
  --pink-800: #a30630;
  --pink-900: #4f0317;
  --pink-950: #27010c;
  --blue-50: #e5fffe;
  --blue-100: #c7fffc;
  --blue-200: #8ffff9;
  --blue-300: #57fff7;
  --blue-400: #1ffff4;
  --blue-500: #00e8dc;
  --blue-600: #00b8ae;
  --blue-700: #008a83;
  --blue-800: #005c57;
  --blue-900: #002e2c;
  --blue-950: #001918;
  --yellow-50: #fdfcf1;
  --yellow-100: #fbf9e4;
  --yellow-200: #f9f4d2;
  --yellow-300: #f5edb2;
  --yellow-400: #f1e797;
  --yellow-500: #eddf78;
  --yellow-600: #e9d758;
  --yellow-700: #d4be1c;
  --yellow-800: #b09e17;
  --yellow-900: #837511;
  --yellow-950: #5a510c;
  --green-50: #f8fcf3;
  --green-100: #f4f9eb;
  --green-200: #e7f2d3;
  --green-300: #dcedc0;
  --green-400: #d1e7ac;
  --green-500: #c6e197;
  --green-600: #a6d05d;
  --green-700: #81ae32;
  --green-800: #557321;
  --green-900: #2c3b11;
  --green-950: #141c08;
  --red: #ff6176;
  --blog-card-background: var(--callout-background-color);
  --blog-footer-background: #ff87c3;
  --blog-footer-text: #fdfeff;
  --pointer-cursor: url('/cursors/pointer.cur') 7 5, pointer;
  --cursor: url('/cursors/blue-butterfly.gif') 1 1, auto;
  --footer-background-url: url('/images/bg/pixelplaid.gif');
  --dropdown-bg-url: url('/images/bg/smallpinkplaid.gif');
  --header-title-font: var(--font-cursive);
  --background-image: url('/images/bg/roses.gif');
  --background: #ffcce8;
  --borders: #e637bf;
  --callout-background-color: #f2e2ba;
  --callout-color: #00120b;
  --cassette-background-2: #ff87c3;
  --cassette-background: #ffd6eb;
  --cassette-border: #ff5eb1;
  --cassette-shadow: #ffb8dc;
  --cassette-title-border: #ff5eb1;
  --cassette-window: #e3e3e3;
  --content-background-color: #fdfeff;
  --footer-background-color: #f865b0;
  --header-bg-size: normal;
  --header-bg: url('/images/bg/greenstripes.jpg');
  --header-nav-bg: url('/images/bg/pixelplaid.gif');
  --header-nav-border-bg-bottom:
    url('/images/divider/greenbow.gif'),
    url('/images/divider/pink-sparkle-bows.gif');
  --header-nav-border-bg: url('/images/divider/greenbow.gif');
  --light: #c6e197;
  --nav-border-bottom: 2px solid var(--nav-border-color);
  --nav-border-color: #ca29a7;
  --nav-button-gradient: linear-gradient(
    225deg,
    hsla(82, 55%, 74%, 1) 0%,
    hsla(315, 86%, 89%, 1) 50%,
    hsla(313, 78%, 56%, 1) 100%
  );
  --nav-link-background-color: #fbcaef;
  --nav-link-background-hover: var(--pink-500);
  --nav-link-border-color: var(--pink-600);
  --nav-link-border-hover: var(--pink-100);
  --nav-link-color-hover: var(--pink-50);
  --nav-link: var(--text-color);
  --breadcrumb-text: var(--green-700);
  --breadcrumb-link: var(--green-800);
  --breadcrumb-link-hover: var(--green-800);
  --breadcrumb-heading: var(--pink-500);
  --breadcrumb-font: var(--font-cute);
  --breadcrumb-border: var(--green-500);
  --pink: #f56fa1;
  --purple: #df73ff;
  --section-background-color: 136, 221, 241;
  --section-border-color-2: #53a263;
  --section-border-color-complementary: #bd624d;
  --section-border-color: #0296b8;
  --section-tab-background-color: #c6e197;
  --section-title-color: #146375;
  --sidebar-background-color: #fbcaef;
  --sidebar-background-url: url('/images/bg/greenplaid.png');
  --sidebar-text-color: #f9dec9;
  --text-color: #00120b;
  --btn-color: #53a263;
  --btn-background: #c6e197;
  --btn-border-hover: var(--pink);
  --btn-color-hover: var(--pink);
  --btn-background-hover: #ffb8dc;
  --padding-top-content: 50px;
}

body[data-theme='rainbow'] {
  --padding-top-content: 20px;
  --red: #ff6176;
  --background-image: url('/images/bg/rainbowplaid.gif');
  --background: #ffcce8;
  --btn-color: #53a263;
  --btn-background: #c6e197;
  --btn-border-hover: var(--pink);
  --btn-color-hover: var(--pink);
  --btn-background-hover: #ffb8dc;
  --borders: #6ab4f1;
  --callout-background-color: #edfcee;
  --callout-color: #00120b;
  --cassette-background-2: #ff87c3;
  --cassette-background: #ffd6eb;
  --cassette-border: #ff5eb1;
  --cassette-shadow: #ffb8dc;
  --cassette-title-border: #ff5eb1;
  --cassette-window: #e3e3e3;
  --content-background-color: #fdfeff;
  --dropdown-bg-url: url('/images/bg/starsstripes.gif');
  --dropdown-bg: #c1ff9b;
  --dropdown-border: #ffef9f;
  --footer-background-color: #f865b0;
  --header-bg-size: normal;
  --header-bg: url('/images/bg/pink-sparkle-sky.gif');
  --header-nav-bg: url('/images/bg/rainbow.webp');
  --header-nav-border-bg-bottom:
    url('/images/divider/rainbowstarstatic.gif'),
    url('/images/divider/rainbowstars.gif');
  --header-nav-border-bg: url('/images/divider/rainbowstarstatic.gif');
  --light: #ffd3e8;
  --nav-border-bottom: 2px solid var(--nav-border-color);
  --nav-border-color: #ca29a7;
  --nav-button-gradient: linear-gradient(
    225deg,
    hsla(82, 55%, 74%, 1) 0%,
    hsla(315, 86%, 89%, 1) 50%,
    hsla(313, 78%, 56%, 1) 100%
  );
  --nav-link-background-color: #70d6ff;
  --nav-link-background-hover: #f552a4;
  --nav-link-border-color: #ab87ff;
  --nav-link-border-hover: #fbcaef;
  --nav-link-color-hover: #f5f9f0;
  --nav-link: #eff7f6;
  --pink: #f56fa1;
  --purple: #df73ff;
  --section-background-color: 226, 160, 255;
  --section-border-color: #6ab4f1;
  --section-border-color-2: #a983d8;
  --section-tab-background-color: #fcf6bd;
  --sidebar-background-color: #fbcaef;
  --sidebar-background-url: url('/images/bg/rainbow.jpg');
  --sidebar-text-color: #f9dec9;
  --text-color: #00120b;
  --header-title-font: var(--font-handwritten-bold);
  --footer-background-url: url('/images/bg/starsstripes.gif');
  --cursor: url('/cursors/rainbow.cur') 1 1, auto;
  --pointer-cursor: url('/cursors/pointer.cur') 7 5, pointer;
  --blog-card-background: var(--callout-background-color);
  --blog-footer-background: #70d6ff;
  --blog-footer-text: #eff7f6;
  --pink-50: #fef0f4;
  --pink-100: #fee1e9;
  --pink-200: #fdc4d3;
  --pink-300: #fcabc1;
  --pink-400: #fb8eab;
  --pink-500: #fa7095;
  --pink-600: #f95480;
  --pink-700: #f10847;
  --pink-800: #a30630;
  --pink-900: #4f0317;
  --pink-950: #27010c;
  --blue-50: #e5fffe;
  --blue-100: #c7fffc;
  --blue-200: #8ffff9;
  --blue-300: #57fff7;
  --blue-400: #1ffff4;
  --blue-500: #00e8dc;
  --blue-600: #00b8ae;
  --blue-700: #008a83;
  --blue-800: #005c57;
  --blue-900: #002e2c;
  --blue-950: #001918;
  --yellow-50: #fdfcf1;
  --yellow-100: #fbf9e4;
  --yellow-200: #f9f4d2;
  --yellow-300: #f5edb2;
  --yellow-400: #f1e797;
  --yellow-500: #eddf78;
  --yellow-600: #e9d758;
  --yellow-700: #d4be1c;
  --yellow-800: #b09e17;
  --yellow-900: #837511;
  --yellow-950: #5a510c;
  --green-50: #f8fcf3;
  --green-100: #f4f9eb;
  --green-200: #e7f2d3;
  --green-300: #dcedc0;
  --green-400: #d1e7ac;
  --green-500: #c6e197;
  --green-600: #a6d05d;
  --green-700: #81ae32;
  --green-800: #557321;
  --green-900: #2c3b11;
  --green-950: #141c08;
  --breadcrumb-text: var(--blue-600);
  --breadcrumb-link: var(--pink-600);
  --breadcrumb-link-hover: var(--yellow-800);
  --breadcrumb-heading: var(--green-500);
  --breadcrumb-font: var(--font-cursive);
  --breadcrumb-border: var(--yellow-500);
  --purple-50: #fcf5ff;
  --purple-100: #f7e5ff;
  --purple-200: #ebc7ff;
  --purple-300: #dea8ff;
  --purple-400: #c879ff;
  --purple-600: #bd42ff;
  --purple-700: #ae00ff;
  --purple-800: #8f00c7;
  --purple-900: #6b008f;
  --purple-950: #440057;
  --orange-50: #fff7f2;
  --orange-100: #fff0e6;
  --orange-200: #ffd9bf;
  --orange-300: #ffc299;
  --orange-400: #ff954d;
  --orange-500: #ff6700;
  --orange-600: #e65d00;
  --orange-700: #993e00;
  --orange-800: #732e00;
  --orange-900: #4d1f00;
}
