@charset "UTF-8";

* {
  box-sizing: border-box;
}

a img {
  opacity: 1;
  transition: .2s ease;

  &:hover {
    opacity: .9;
    transition: .2s ease;
  }
}

input,
select,
textarea {
  border-radius: 0 !important;
}

input[type='checkbox'] {
  background-color: var(--pink-500);
}

select,
textarea,
.comment-form input:placeholder-shown+label,
.comment-form textarea:placeholder-shown+label,
.comment-form .comment-input-wrap p label,
.comment-form p.comment-form-float-label label,
.comment-form input:placeholder-shown+label,
.comment-form textarea:placeholder-shown+label,
textarea::-webkit-input-placeholder,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.fs-label-wrap,
.fs-dropdown,
.fs-search,
.fs-wrap.multiple .fs-option .fs-checkbox i {
	color: var(--text-color);
	border-color: var(--borders);
	font-size: 90%;
}

input[type="text"]::-webkit-input-placeholder :not(.kb-text-style-field),
input[type="email"]::-webkit-input-placeholder :not(.kb-text-style-field),
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: inherit;
}

textarea,
tr,
td,
th {
  border-color: var(--borders);
}

blockquote,
.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p,
.wp-block-quote.is-style-default {
	font-family: var(--font-cursive) !important;
	font-style: normal;
	padding: 20px 10px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 1.8em;
}

button[type="submit"] {
  border-color: var(--borders);
  color: var(--btn-color);
  background-color: var(--btn-background);
  font-family: inherit;
}

button[type="submit"]:hover {
  border-color: var(--btn-border-hover);
  color: var(--btn-color-hover);
  background-color: var(--btn-background-hover);
}

.link-style-offset-background .entry-content p > a,
.link-style-offset-background .entry-content strong > a,
.link-style-offset-background .entry-content em > a,
.link-style-offset-background .entry-content > ul a {
  transition: all 2s ease-in-out 2s;
  background-image: linear-gradient(var(--highlight-alt2) 30%, var(--highlight) 30%) !important;
  background-position: bottom !important;
  padding-left: 2px;
  padding-right: 2px;
}

.link-style-offset-background .entry-content p>a:hover,
.link-style-offset-background .entry-content strong>a:hover,
.link-style-offset-background .entry-content em>a:hover,
.link-style-offset-background .entry-content>ul a:hover {
  transition: all 2s ease-in-out 2s;
  background-image: linear-gradient(var(--highlight-alt2) 30%, var(--highlight-alt) 30%) !important;
}

.link-style-color-underline .entry-content p>a,
.link-style-color-underline .entry-content strong>a,
.link-style-color-underline .entry-content em>a,
.link-style-color-underline .entry-content>ul a {
  text-decoration: solid underline var(--highlight) 2px;
}

.link-style-color-underline .entry-content p>a:hover,
.link-style-color-underline .entry-content strong>a:hover,
.link-style-color-underline .entry-content em>a:hover,
.link-style-color-underline .entry-content>ul a:hover {
  color: inherit;
  text-decoration: solid underline var(--highlight-alt) 2px;
}

.search-archive-title h1 {
  padding-bottom: .35em;
}

a:link {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--background);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #007bff;
}

.load-more:hover {
  background-color: #0056b3;
}

.load-more:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
}

blockquote,
q {
  quotes: 'â€œ' 'â€';
}

blockquote {
  padding-left: 0;
  border-left: 0;
}

.entry-content blockquote {
  margin: var(--md-spacing) 0 0;
}

.entry-content {
  word-break: initial !important;
}

blockquote cite,
blockquote .wp-block-pullquote__citation {
  color: var(--text-color);
  font-size: .8rem;
  position: relative;
  font-style: normal;
  display: block;
}

blockquote cite::before {
	content:"";
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 35px;
	height: 1px;
	background: var(--purple);
}

.blocks-gallery-caption figcaption, .wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-audio figcaption,
.wp-block-video figcaption {
	color: var(--text-color) !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  background-image: var(--background-image);
  color: var(--text-color);
  cursor: var(--cursor);
  font-family: var(--font-pixel-sans);
  font-size: var(--font-size);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 100%;
  overflow-x: hidden;
  transition: background 0.3s ease 0s;
}

div[data-font='readable-font'] {
  font-family: var(--readable-font);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--readable-font) !important;
  }

  a {
    font-family: var(--readable-font) !important;
  }

  div {
    font-family: var(--readable-font);
  }

  span {
    font-family: var(--readable-font);
  }

  p {
    font-family: var(--readable-font);
  }

  .section-title {
    font-family: var(--readable-font);
  }

  .header-title-container {
    font-family: var(--header-title-font) !important;
  }
}

div[data-theme='pixel-princess'],
div[data-theme='rainbow'] {
  padding: var(--margin);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  section.header-title-container h1 {
    display: none;
    font-family: var(--header-title-font) !important;
  }
}

div[data-theme='rainbow'] {
  section.header-title-container h1.rainbow {
    display: block;
    font-family: var(--header-title-font) !important;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
  }

  section.header-title-container h1.glitter {
    display: none;
  }
}

div[data-theme='pixel-princess'] {
  section.header-title-container h1.glitter {
    display: block;
    font-family: var(--header-title-font) !important;
    text-transform: capitalize;
    background-image: url("/images/bg/pinkglitter.gif");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(1px 1px #FC36BA) drop-shadow(0 -1px #FC36BA) drop-shadow(1px 0 1px #FC36BA) drop-shadow(-1px 0 #FC36BA);
  }

  section.header-title-container h1.rainbow {
    display: none;
  }
}


body ::selection {
  color: var(--text-color);
  background: var(--light);
}

body a,
body a:hover,
body a:focus,
body a:visited {
  color: var(--text-color);
  cursor: var(--pointer-cursor);
  text-decoration: none;
}

body select {
  font-family: var(--font-cute);
  font-size: 1.3rem;
  line-height: 1.5;
  cursor: var(--pointer-cursor);
}

body button {
  font-family: var(--font-cute);
  font-size: 1.3rem;
  line-height: 1.5;
  cursor: var(--pointer-cursor);
}

#skip-to-sitemap-link,
#skip-to-content-link {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--background);
  color: var(--text-color);
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 99999999999;
}

#skip-to-sitemap-link:focus,
#skip-to-content-link:focus,
#skip-to-sitemap-link:focus-within,
#skip-to-content-link:focus-within {
  transform: translateY(0);
}

#theme-toggler,
#font-toggler {
  position: absolute;
  top: 7px;
  z-index: 999999;

  select,
  button {
    display: flex;
    align-content: center;
    border: 1px solid var(--borders);
    color: #1b2021;
    background: #DE6B48;
    background-image: linear-gradient(to top,
        #DE6B48 16%,
        #FFB3E0 79%);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 1.2em;

    &:hover {
      filter: brightness(0.9);
    }
  }

  span {
    letter-spacing: 0.5px;
  }

  img {
    display: block;
    margin-right: 0.5rem;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

#theme-toggler {
  left: 7px;
}

#font-toggler {
  right: 7px;
}

[data-font='readable-font'] button,
[data-font='readable-font'] select,
[data-font='readable-font'] a,
[data-font='readable-font'] h1,
[data-font='readable-font'] h2,
[data-font='readable-font'] h3,
[data-font='readable-font'] h4,
[data-font='readable-font'] h5,
[data-font='readable-font'] h6 {
  font-family: var(--readable-font);
}

[data-font='readable-font'] #font-toggler button,
[data-font='readable-font'] #theme-toggler select {
  padding: 5px 9px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  border: 2px dotted var(--breadcrumb-border);
  border-radius: 8px;
  padding: .75rem;
  margin-top: 1rem;
}

.breadcrumbs ol {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;

  li {
    color: var(--breadcrumb-text);

    .breadcrumb-group {
      display: flex;
      align-items: center;
      gap: 3px;

      .icon {
        color: var(--breadcrumb-border);
      }
    }

    a {
      color: var(--breadcrumb-link);
    }

    &:not(:last-child):hover {
      a {
        color: var(--breadcrumb-link-hover);
      }

      background-color: var(--breadcrumb-background-hover);
    }
  }
}

.breadcrumb-heading {
  text-align: right;
  color: var(--breadcrumb-heading);
  font-family: var(--breadcrumb-font);
  position: absolute;
  top: -10px;
  right: 1px;
  line-height: 1;
  padding: 0 .5em;
  user-select: none;
  border-radius: 10px;
  background: var(--content-background-color);
  text-transform: lowercase;
  font-size: 1.25rem;
  z-index: 2;
}

.grid {
  display: grid;
  grid-gap: var(--g, .5rem);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--m, 50rem), 100%), 1fr));
}

.pixel-border {
  --s: 4px;
  --c1: #303C9D;
  --c2: #6070E7;

  background: no-repeat;
  background-image:
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1)),
    linear-gradient(0, var(--c2), var(--c2)),
    linear-gradient(0, var(--c1), var(--c1)),

    linear-gradient(0, var(--c1), var(--c1));
  background-size:
    calc(100% - var(--s) * 4 * 2) var(--s),

    var(--s) var(--s),
    calc(100% - var(--s) * 4 * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) calc(100% - var(--s) * 5 * 2),
    var(--s) calc(100% - var(--s) * 5 * 2),
    var(--s)  calc(100% - var(--s) * 5 * 2),
    var(--s) calc(100% - var(--s) * 5 * 2),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(var(--s) * 2) var(--s),
    calc(var(--s) * 2) var(--s),
    var(--s) var(--s),

    var(--s) var(--s),
    calc(100% - var(--s) * 4 * 2) var(--s),
    var(--s) var(--s),

    calc(100% - var(--s) * 4 * 2) var(--s);
  background-position:
    calc(var(--s) * 4) 0,

    calc(var(--s) * 3) var(--s),
    calc(var(--s) * 4) var(--s),
    right calc(var(--s) * 3) top var(--s),

    calc(var(--s) * 2) calc(var(--s) * 2),
    calc(var(--s) * 3) calc(var(--s) * 2),
    right calc(var(--s) * 3) top calc(var(--s) * 2),
    right calc(var(--s) * 2) top calc(var(--s) * 2),

    var(--s) calc(var(--s) * 3),
    calc(var(--s) * 2) calc(var(--s) * 3),
    right calc(var(--s) * 2) top calc(var(--s) * 3),
    right var(--s) top calc(var(--s) * 3),

    0 calc(var(--s) * 4),
    var(--s) calc(var(--s) * 4),
    right var(--s) top calc(var(--s) * 4),
    right 0 top calc(var(--s) * 4),

    0 calc(var(--s) * 5),
    var(--s) calc(var(--s) * 5),
    right var(--s) top calc(var(--s) * 5),
    right 0 top calc(var(--s) * 5),

    left 0 bottom calc(var(--s) * 4),
    left var(--s) bottom calc(var(--s) * 4),
    right var(--s) bottom calc(var(--s) * 4),
    right 0 bottom calc(var(--s) * 4),

    left var(--s) bottom calc(var(--s) * 3),
    left calc(var(--s) * 2) bottom calc(var(--s) * 3),
    right calc(var(--s) * 2) bottom calc(var(--s) * 3),
    right var(--s) bottom calc(var(--s) * 3),

    left calc(var(--s) * 2) bottom calc(var(--s) * 2),
    left calc(var(--s) * 3) bottom calc(var(--s) * 2),
    right calc(var(--s) * 3) bottom calc(var(--s) * 2),
    right calc(var(--s) * 2) bottom calc(var(--s) * 2),

    left calc(var(--s) * 3) bottom var(--s),
    left calc(var(--s) * 4) bottom var(--s),
    right calc(var(--s) * 3) bottom var(--s),

    left calc(var(--s) * 4) bottom 0;
}
