.corkboard-container {
  @apply bg-corkboard;
  @apply md:w-[800px];
  @apply w-[90%] min-h-[550px] justify-center content-center;
  @apply m-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 py-10;

  border: 30px solid transparent;
  border-image: url('/images/corkborder.jpg') 70 round;
}

.pin {
  width: 30px;
  margin-top: -15px;
}
