/* stylelint-disable block-no-empty */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable no-duplicate-selectors */
:root {
  --size-scrollbar-width: 8px;
  --total-toolbar-height: 68px;
  --scroll-margin: calc(var(--total-toolbar-height) + 1rem);
  --vertical-content-padding: 1.5rem;
}

@media screen and (min-width: 596px) {
  :root {
    --total-toolbar-height: 68px;
    --scroll-margin: calc(var(--total-toolbar-height) + 1rem);
    --vertical-content-padding: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --total-toolbar-height: 68px;
    --size-scrollbar-width: 12px;
    --vertical-content-padding: 2.25rem;
  }
}

*::-webkit-scrollbar {
  width: var(--size-scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(circle,
      #b9a8fd 0%,
      #fd1d83 50%,
      #fcc545 100%);
}

* {
  @apply transition-[background-color] duration-300 ease-in-out;
}

html {
  @apply min-h-[100vh];

  min-width: 360px;
  cursor: url('/cursors/orange-angel-wing-heart.cur'), auto;
}

html,
body {
  @apply overflow-x-hidden;

  scroll-behavior: smooth;
  accent-color: rgba(var(--color-accent));
  border-radius: 0.25rem;
}

body {
  @apply font-sans h-full;
  @apply mx-auto my-0 h-full w-full transform-none break-words border-0 p-0 align-baseline font-sans text-md font-normal tracking-wide text-primary-txt;
}

section#root-layout {
  @apply min-h-[80vh];

  div {
    @apply text-primary-txt text-lg font-extra;
    @apply w-auto rounded-sm;
    @apply py-4 px-6;
  }

  div div {}
}

a {
  @apply cursor-pointer text-espresso decoration-wavy;

  &:focus {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    transition: 0.2s ease-in-out;
    outline: none;
  }
}

a:focus,
button:focus {
  outline: none;
}

a.focus-visible,
button:focus-visible {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 3px;
}

a.focus-visible {
  background: none;
}

figure figcaption {
  @apply text-xs;
  text-align: center;
  margin: 0.625rem 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

::selection {
  background-color: rgba(var(--color-selection));
}

::placeholder {
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

:-ms-input-placeholder {
  /* stylelint-disable-line selector-no-vendor-prefix */
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

*:focus {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 0.25rem;
}

/* Fix image border in Safari for lazy loading images. See https://nextjs.org/docs/api-reference/next/future/image#known-browser-bugs */
@media not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    clip-path: inset(0.5px);
  }
}

body section,
body article {
  scroll-margin-top: var(--scroll-margin);
}

nav#update-log span {
  @apply bg-gradient-to-r from-gradient-purple via-gradient-blue to-gradient-green font-bold;
  @apply py-1 text-center text-xl rounded-lg lowercase text-creamy-white font-extra;
}

nav#sidebar {
  span {
    @apply bg-gradient-to-r from-gradient-purple via-gradient-blue to-gradient-green;
    @apply py-1 text-center text-xl rounded-lg lowercase text-creamy-white font-extra;
  }

  a {
    @apply rounded-lg block text-raspberry-pink bg-gradient-to-bl from-baby-pink via-pale-pink via-[86%] to-peachy-pink;
    @apply border border-solid border-deep-pink text-center no-underline;
    @apply p-1 w-auto h-auto lowercase;

    &:hover {
      box-shadow:
        inset -1px 1px #fff0cf,
        inset 1px 2px #fdd889,
        inset -2px 2px #fbc761,
        inset 2px -2px #e5a01a;
    }

    &.active-sidebar-link {
      @apply text-accent-dark from-[#fff0cf] via-[#fdd889] via-[86%] to-[#fbc761];

      &:hover {
        box-shadow:
          inset -1px 1px #fce7f3,
          inset 1px 2px #f9a8d4,
          inset -2px 2px #f472b6,
          inset 2px -2px #db2777;
      }
    }
  }
}

nav#sidebar>*:not(:last-child) {
  margin-bottom: 5px;
}

div#project-container {
  @apply w-full;

  hr {
    @apply my-10 border-deep-pink;
  }
}

div#blog-post-container {
  @apply w-full;

  blockquote {
    @apply ml-6 my-3;
    @apply p-1;
    @apply rounded-lg;

    p {
      @apply text-2xl;
    }
  }

  li,
  p {
    @apply text-xl;
    @apply leading-relaxed;
  }

  li {
    @apply my-3;
  }

  hr {
    @apply my-10 border-deep-pink;
  }

  h2 {
    @apply text-4xl;
    @apply my-10;
  }
}
