/* stylelint-disable block-no-empty */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable no-duplicate-selectors */
:root {
  --size-scrollbar-width: 8px;
}

@media screen and (min-width: 768px) {
  :root {
    --size-scrollbar-width: 12px;
  }
}

*::-webkit-scrollbar {
  width: var(--size-scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(circle,
      #b9a8fd 0%,
      #fd1d83 50%,
      #fcc545 100%);
}

* {
  @apply transition-[background-color] duration-300 ease-in-out;
}

html {
  @apply min-h-[100vh] h-full;

  min-width: 360px;
  cursor: url('/cursors/orange-angel-wing-heart.cur'), auto;
}

html,
body {
  @apply overflow-x-hidden;

  scroll-behavior: smooth;
  border-radius: 0.25rem;
}

body {
  @apply h-full w-full mx-auto my-0 p-0 border-0;
  @apply transform-none break-words align-baseline font-extra text-sm font-normal tracking-wide text-primary-txt;
}

section#root-layout {
  @apply min-h-[80vh];

  div {
    @apply text-primary-txt text-md font-extra;
    @apply w-auto rounded-sm;
    @apply py-4 px-3;
  }

  div div {}
}

a {
  @apply cursor-pointer text-espresso decoration-wavy;

  &:focus {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    @apply outline-none;

    transition: 0.2s ease-in-out;
  }
}

a:focus,
button:focus {
  @apply outline-none;
}

a.focus-visible,
button:focus-visible {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 3px;
}

a.focus-visible {
  @apply bg-none;
}

figure figcaption {
  @apply text-xs text-center;

  margin: 0.625rem 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

::selection {
  background-color: rgba(var(--color-selection));
}

::placeholder {
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

*:focus {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 0.25rem;
}

body section,
body article {}

nav#update-log span {
  @apply bg-gradient-to-r from-gradient-purple via-gradient-blue to-gradient-green font-bold;
  @apply py-1 text-center text-md rounded-lg lowercase text-creamy-white font-extra;
}

nav#sidebar {
  span {
    @apply bg-gradient-to-r from-gradient-purple via-gradient-blue to-gradient-green;
    @apply py-1 text-center text-md rounded-lg lowercase text-creamy-white font-extra;
  }

  a {
    @apply rounded-lg block text-primary-txt bg-gradient-to-r from-light-orange via-creamy-white via-[86%] to-light-yellow;
    @apply border border-solid border-deep-pink text-center no-underline;
    @apply p-1 w-auto h-auto lowercase;

    &:hover {
      box-shadow:
        inset -1px 1px #fff0cf,
        inset 1px 2px #fdd889,
        inset -2px 2px #fbc761,
        inset 2px -2px #e5a01a;
    }

    &.active-sidebar-link {
      @apply text-accent-dark from-[#fff0cf] via-[#fdd889] via-[86%] to-[#fbc761];

      &:hover {
        box-shadow:
          inset -1px 1px #fce7f3,
          inset 1px 2px #f9a8d4,
          inset -2px 2px #f472b6,
          inset 2px -2px #db2777;
      }
    }
  }
}

nav#sidebar>*:not(:last-child) {
  margin-bottom: 5px;
}

div#project-container {
  @apply w-full;

  hr {
    @apply my-10 border-deep-pink;
  }
}

div#blog-post-container {
  @apply w-full;

  blockquote {
    @apply ml-6 my-3;
    @apply p-1;
    @apply rounded-lg;

    p {
      @apply text-2xl;
    }
  }

  li,
  p {
    @apply text-md;
    @apply leading-relaxed;
  }

  li {
    @apply my-3;
  }

  hr {
    @apply my-10 border-deep-pink;
  }

  h2 {
    @apply text-4xl;
    @apply my-10;
  }
}

.scallop-rose-box {
  min-width: fit-content;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}

.scallop-rose-box .u01 {
  background: url('/images/frames/scallop-rose/f-ue.gif') repeat-x;
  height: 32px;
  margin: 0 32px;
}

.scallop-rose-box .s01 {
  background: url('/images/frames/scallop-rose/f-sita.gif') repeat-x;
  height: 32px;
  margin: 0 32px;
}

.scallop-rose-box .box-top {
  background-image: url('/images/frames/scallop-rose/f-kado1.gif'),
    url('/images/frames/scallop-rose/f-kado2.gif');
  background-position:
    top left,
    top right;
  background-repeat: no-repeat, no-repeat;
  height: 32px;
}

.scallop-rose-box .box-center {
  background-image: url('/images/frames/scallop-rose/f-migi.gif'),
    url('/images/frames/scallop-rose/f-hidari.gif');
  background-position:
    top right,
    top left;
  background-repeat: repeat-y, repeat-y;
}

.scallop-rose-box .box-inner {
  background: #fff;
  margin: 0 32px;
  padding: 10px;
}

.scallop-rose-box .box-bottom {
  background-image: url('/images/frames/scallop-rose/f-kado3.gif'),
    url('/images/frames/scallop-rose/f-kado4.gif');
  background-position:
    top left,
    top right;
  background-repeat: no-repeat, no-repeat;
  height: 32px;
}

.breadcrumb-separator {
  margin: 0 .1875rem;
  position: relative;

  &::after {
    @apply text-ivory;

    vertical-align: bottom;
    content: "> ";
  }
}
