:root {
  --font-mono: 'IBM Plex Mono';
  --font-sans: 'DM Sans';
}

@import '@fontsource/ibm-plex-mono';
@import '@fontsource/dm-sans';
@import '@fontsource/prata';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@font-face {
  font-family: 'Venice Classic';
  src: url('/fonts/VeniceClassic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'basiic';
  src: url('/fonts/basiic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rainyhearts;
  src:
    url('/fonts/rainyhearts.woff2') format('woff2'),
    url('/fonts/rainyhearts.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Romance A';
  src:
    url('/fonts/RomanceA.woff2') format('woff2'),
    url('/fonts/RomanceA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: gothicpixelsmedium;
  src: url('/fonts/gothicpixels-webfont.woff2') format('woff2'),
    url('/fonts/gothicpixels-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: papernotesbold;
  src: url('/fonts/papernotes_bold-webfont.woff2') format('woff2'),
    url('/fonts/papernotes_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: papernotessketch;
  src: url('/fonts/papernotes_sketch-webfont.woff2') format('woff2'),
    url('/fonts/papernotes_sketch-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: papernotesregular;
  src: url('/fonts/papernotes-webfont.woff2') format('woff2'),
    url('/fonts/papernotes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wildy_sansregular';
  src: url('/fonts/wildy_sans-webfont.woff2') format('woff2'),
    url('/fonts/wildy_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
