.aside {
  position: relative;
  background: var(--sidebar-background-color);
  padding: 10px 14px;

  .section-tab {
    text-align: left;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid var(--borders);
    border-bottom: 3px solid var(--borders);
    padding: 3px 5px;
    background: var(--section-tab-background-color);
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 3px;

    .section-icon {
      margin-left: 5px;
    }

    .section-title {
      color: var(--sidebar-text-color);
      font-size: 22px;
      font-weight: bold;
      font-family: var(--font-gothic);
      filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white) drop-shadow(0px 1px 1px #FF73BA) drop-shadow(0px 1px 1px #FF73BA);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      display: flex;
      /* border-radius: 10px; */
      background-image: var(--nav-button-gradient);
      border-top: 1px solid var(--nav-border-color);
      border-left: 1px solid var(--nav-border-color);
      border-right: 1px solid var(--nav-border-color);
      border-bottom: var(--nav-border-bottom);
      color: var(--text-color);
      font-family: var(--font-cute);
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
      gap: 5px;

      a {
        color: var(--text-color);
      }

      &:hover {
        background: linear-gradient(90deg,
            rgba(255, 191, 105, 1) 0%,
            rgba(255, 191, 105, 0) 100%);
      }
    }

    ul li:not(:last-child) ul {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}

.layout {
  margin-top: 2rem;
  display: grid;
  width: 96%;
  max-width: var(--max-width);
  /* grid-gap: var(--layout-grid-gap); */

  header#header {
    z-index: 1;
    text-align: center;
    border: 2px solid var(--borders);
    border-bottom: 2px solid transparent;
    /* border-radius: 10px; */
    max-height: 180px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: var(--header-bg);
    background-repeat: repeat;
    background-size: var(--header-bg-size);
    align-items: center;
    grid-area: header;

    @media (min-width: 1000px) {
      /* border-radius: 25px; */
    }

    @media (max-width: 576px) {
      margin-bottom: 0;
    }

    .header-title {
      overflow: hidden;
      margin: 0;
      padding: 10px;
      font-size: 4rem;

      @media screen and (max-width: 799px) {
        font-size: 3.5rem;
      }

      @media (max-width: 576px) {
        font-size: 2.5rem;
      }

      @media (max-width: 400px) {
        font-size: 2rem;
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-family: var(--font-handwritten-bold);
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: white;
        transition: transform 0.2s ease;
        transform: none;

        &:hover,
        &:focus {
          transform: scale(1.03);
        }
      }
    }
  }
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav[aria-label="Main navigation"] {
  background-color: var(--light);
  padding: 0 1rem;
  top: 0;
  grid-area: headerNav;
  position: relative;
  display: grid;
  place-items: center;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: url("/images/divider/greenbow.gif");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: 96px;
    background-image: url("/images/divider/greenbow.gif"),
      url("/images/divider/pink-sparkle-bows.gif");
    background-repeat: repeat-x, repeat-x;
    background-position: center 0, center 3px;
    z-index: 10;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }

  >ul {
    grid-auto-flow: column;

    >li {
      margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: var(--nav-link);
        font-size: 1.125rem;

        &:focus {
          outline: none;
        }
      }

      >a,
      .dropdown__title {
        padding: 1rem 0.5rem;
        border-top: 3px solid transparent;
        transition: 280ms all 120ms ease-out;

        &:hover,
        &:focus {
          border-top-color: var(--nav-link-border-hover);
          color: var(--nav-link-color-hover);
        }
      }
    }
  }
}

.dropdown {
  position: relative;
}

.dropdown .dropdown__title {
  display: inline-flex;
  align-items: center;
}

.dropdown .dropdown__menu {
  position: absolute;
  min-width: 15ch;
  left: 50%;
  top: calc(100% - 0.25rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0.3;
  padding: .25em;
  background-image: url("/images/bg/smallpinkplaid.gif");
  border: 2px solid var(--nav-link-border-hover);
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
  z-index: 100;

  a {
    color: var(--nav-link);
    background-color: var(--nav-link-background-color);
    border: 2px solid var(--nav-link-border-color);
    margin: 0.25rem;
    display: block;
    padding: .25em;
    opacity: 0;
    transition: 280ms all 120ms ease-out;

    &:hover {
      background-color: var(--nav-link-background-hover);
      color: var(--nav-link-color-hover);
      border-color: var(--nav-link-border-hover);
    }

    &:focus {
      outline: none;
      background-color: var(--nav-link-background-hover);
      color: var(--nav-link-color-hover);
      border-color: var(--nav-link-border-hover);
    }
  }
}

.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: calc(100% - 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}

.dropdown:hover .dropdown__title,
.dropdown:focus-within .dropdown__title {
  border-top-color: pink;
}

.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}

.dropdown:hover .dropdown__menu a,
.dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}

.dropdown:hover:after,
.dropdown:focus-within:after {
  opacity: 1;
}

body.index #home-layout {
  grid-template:
    'header header header' auto
    'headerNav headerNav headerNav' auto
    'leftSidebar main rightSidebar' auto
    'footer footer footer' auto / 240px 1fr 240px;

  #sidebar {
    grid-area: leftSidebar;
    background: var(--sidebar-background-color);
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    /* align-self: start; */
    /* top: 10px; */
    border: 2px solid var(--borders);
    border-top: none;
    padding-top: 75px;


    .sidebar-inner {
      margin-top: 25px;
    }
  }

  main#content {
    grid-area: main;
    overflow-y: auto;
    padding: var(--padding);
    background: var(--content-background-color);
    border: 2px solid var(--borders);
    border-top: none;
    line-height: 1.5;
    padding-top: 100px;

    a,
    a:visited {
      color: var(--linkColor);
    }

    a:hover,
    a:focus {
      color: var(--linkColorHover);
    }

    p,
    .image,
    .full-width-image,
    main .two-columns {
      margin: 0.75em 0;
    }

    ol,
    ul {
      margin: 0.5em 0;
      padding-left: 1.5em;
    }

    ol li,
    ul li {
      margin-bottom: 0.2em;
      line-height: 1.3;
    }

    ol {
      padding-left: 2em;
    }

    blockquote {
      background: rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin: 1em 0;
      border-radius: 10px;
    }

    pre {
      margin: 1em 0 1.5em;
    }

    code {
      text-transform: none;
    }

    center {
      margin: 1em 0;
      padding: 0 1em;
    }

    hr {
      border: 0;
      border-top: 2px dotted green;
      margin: 1.5em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      line-height: 1.5;
    }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
      margin-top: 0;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.3em;
    }

    h4 {
      font-size: 1.2em;
    }

    h5 {
      font-size: 1.1em;
    }

    h6 {
      font-size: 1em;
    }
  }

  #right-sidebar {
    grid-area: rightSidebar;
    background: var(--sidebar-background-color);
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    border: 2px solid var(--borders);
    border-top: none;
    padding-top: 100px;

    @media (min-width: 1000px) {
      /* border-top-right-radius: 25px; */
      /* border-bottom-right-radius: 25px; */
    }

    .marquee-container {
      --gap: 0px;
      --speed-to-loop: 45s;
      --timing-function: linear;

      border: 2px dashed var(--borders);
      /* border-radius: 10px; */
      display: grid;
      grid-template-areas: "center";
      height: max-content;
      margin-top: 15px;
      overflow: hidden;
      padding: 0 5px 0 5px;
    }

    .marquee-container:hover>.marquee {
      animation-play-state: paused;
    }

    .marquee {
      animation: marquee var(--speed-to-loop) var(--timing-function) infinite;
      flex-grow: 0;
      flex-shrink: 0;
      grid-area: center;
      min-width: 100%;
      padding-right: var(--gap);
      pointer-events: auto;
      width: max-content;

      img {
        margin-top: 5px;
        image-rendering: crisp-edges;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .marquee-copy {
      animation-delay: calc(var(--speed-to-loop)/ -2);
    }
  }

  footer {
    grid-area: footer;
    border: 2px solid var(--borders);
    /* border-radius: 10px; */
    overflow: hidden;
    font-size: 0.75em;
    padding: 15px;
    background: var(--footer-background-color);
    display: flex;
    justify-content: center;

    @media (min-width: 1000px) {
      /* border-radius: 25px; */
    }
  }
}

body.page #slug-page {
  grid-template:
    'header header header' auto 'headerNav headerNav headerNav' auto 'main main main' auto 'footer footer footer' auto / auto;
}

main.not-found {
  grid-area: main;
  background: var(--content-background-color);
  overflow-y: auto;
  padding: var(--padding);
  border: 2px solid var(--borders);
  line-height: 1.5;
  padding-top: 100px;
  text-align: center;
}

body.page #page-layout {
  grid-template:
    'header header header' auto
    'headerNav headerNav headerNav' auto
    'leftSidebar main main' auto
    'footer footer footer' auto / 240px auto auto;

  #sidebar {
    grid-area: leftSidebar;
    background: var(--sidebar-background-color);
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    /* align-self: start; */
    /* top: 10px; */
    border: 2px solid var(--borders);

    @media (min-width: 1000px) {
      /* border-top-left-radius: 25px; */
      /* border-bottom-left-radius: 25px; */
    }

    .sidebar-inner {
      margin-top: 25px;
    }
  }

  main#slug-page {
    grid-area: main;
    background: var(--content-background-color);
    overflow-y: auto;
    padding: var(--padding);
    border: 2px solid var(--borders);
    line-height: 1.5;
    padding-top: 100px;
  }

  footer {
    grid-area: footer;
    border: 2px solid var(--borders);
    /* border-radius: 10px; */
    overflow: hidden;
    font-size: 0.75em;
    padding: 15px;
    background: var(--footer-background-color);
    display: flex;
    justify-content: center;

    @media (min-width: 1000px) {
      /* border-radius: 25px; */
    }
  }
}

.rainbow .char {
  color: hsl(calc(360deg * var(--char-percent)), 90%, 75%);
}

.rainbow.animated .char {
  animation: rainbow-colors 2s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}
