.rainbow .char {
  font-family: var(--header-title-font);
  color: hsl(calc(360deg * var(--char-percent)), 90%, 75%);
}

.rainbow.animated .char {
  animation: rainbow-colors 2s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}

.aside {
  position: relative;
  background: var(--sidebar-background-color);
  background-image: var(--sidebar-background-url);
  padding: 10px 14px;
  /* color: var(--sidebar-text-color); */

  .section-tab {
    text-align: left;
    border-top: 2px solid var(--section-border-color);
    border-left: 2px solid var(--section-border-color);
    border-right: 2px solid var(--section-border-color-2);
    border-bottom: 3px solid var(--section-border-color-2);
    padding: 3px 5px;
    background: var(--section-tab-background-color);
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 3px;

    .section-icon {
      margin-left: 5px;
    }

    .section-title {
      color: var(--section-border-color-2);
      font-size: 22px;
      font-weight: bold;
      font-family: var(--font-gothic);
      filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
        drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white)
        drop-shadow(0px 1px 1px #c6e197) drop-shadow(0px 1px 1px #c6e197);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      display: flex;
      background-image: var(--nav-button-gradient);
      border-top: 1px solid var(--nav-border-color);
      border-left: 1px solid var(--nav-border-color);
      border-right: 1px solid var(--nav-border-color);
      border-bottom: var(--nav-border-bottom);
      font-family: var(--font-cute);
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      justify-content: center;
      padding: 5px;
      gap: 5px;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(255, 191, 105, 1) 0%,
          rgba(255, 191, 105, 0.5) 100%
        );
      }

      a {
        color: var(--nav-link);

        &:hover,
        &:focus {
          color: var(--nav-link-color-hover);
        }
      }
    }

    ul li:not(:last-child) ul {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}

.layout {
  margin-top: 2rem;
  display: grid;
  width: 96%;
  max-width: var(--max-width);

  header#header {
    z-index: 1;
    text-align: center;
    border: 2px solid var(--borders);
    border-bottom: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 180px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: var(--header-bg);
    background-repeat: repeat;
    background-size: var(--header-bg-size);
    align-items: center;
    grid-area: header;

    @media (max-width: 576px) {
      margin-bottom: 0;
    }

    @media (min-width: 1000px) {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }

  .header-title {
    font-family: var(--header-title-font);
    overflow: hidden;
    margin: 0;
    padding: 10px;
    font-size: 4rem;

    @media screen and (max-width: 799px) {
      font-size: 3.5rem;
    }

    @media (max-width: 576px) {
      font-size: 2.5rem;
    }

    @media (max-width: 400px) {
      font-size: 2rem;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-family: var(--header-title-font) !important;
      transition: transform 0.2s ease;
      transform: none;

      &:hover,
      &:focus {
        transform: scale(1.03);
      }
    }
  }
}

#sidebar {
  grid-area: leftSidebar;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--borders);
  border-top: none;
  padding-top: 75px;

  .sidebar-inner {
    margin-top: 25px;
  }

  @media all and (max-width: 768px) {
    padding-top: 0;

    .sidebar-inner {
      margin-top: 20px;
    }
  }
}

#right-sidebar {
  grid-area: rightSidebar;
  border: 2px solid var(--borders);
  border-top: none;
  padding-top: 100px;

  @media all and (max-width: 1100px) {
    padding-top: 10px;
  }
}

footer {
  align-items: center;
  background-image: var(--footer-background-url);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--borders);
  border-top: 1px;
  color: var(--text-color);
  display: flex;
  font-size: 0.75rem;
  grid-area: footer;
  justify-content: center;
  overflow: hidden;
  padding: 15px;

  @media (min-width: 1000px) {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  section {
    background: var(--light);
    width: 95%;
    text-align: center;
    border: 2px solid var(--borders);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
    }

    a:hover {
      color: var(--nav-border-color);
    }

    ul.footer-menu {
      list-style: none;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      text-decoration-line: underline;
      text-decoration-style: wavy;
      color: var(--nav-link);
      text-decoration-color: var(--nav-border-color);

      @media (max-width: 768px) {
        margin: 15px auto;
        padding: 0;
        justify-content: center;
      }

      @media (max-width: 320px) {
        flex-direction: column;
      }
    }
  }
}

#slug-layout {
  grid-template:
    'header header header' auto
    'headerNav headerNav headerNav' auto
    'main main main' auto
    'footer footer footer' auto / auto;

  main#content {
    grid-area: main;
    overflow-y: auto;
    padding: var(--padding);
    background: var(--content-background-color);
    border: 2px solid var(--borders);
    border-top: none;
    line-height: 1.5;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#home-layout {
  display: grid;
  grid-template:
    'header header header' auto
    'headerNav headerNav headerNav' auto
    'leftSidebar main rightSidebar' auto
    'footer footer footer' auto / 240px 1fr 240px;

  @media all and (max-width: 1100px) {
    grid-template:
      'header header' auto
      'headerNav headerNav' auto
      'leftSidebar main' auto
      'rightSidebar main' auto
      'footer footer' auto / 240px 1fr;
  }

  @media all and (max-width: 768px) {
    grid-template:
      'header header' auto
      'headerNav headerNav' auto
      'main main' auto
      'leftSidebar rightSidebar' auto
      'footer footer' auto / 50% 50%;
  }

  @media all and (max-width: 575px) {
    grid-template:
      'header header' auto
      'headerNav headerNav' auto
      'main main' auto
      'leftSidebar leftSidebar' auto
      'rightSidebar rightSidebar' auto
      'footer footer' auto / 50% 50%;
  }

  main#content {
    grid-area: main;
    overflow-y: auto;
    padding: var(--padding);
    background: var(--content-background-color);
    border: 2px solid var(--borders);
    border-top: none;
    line-height: 1.5;
    padding-top: 100px;
    width: 100%;
  }
}

#page-layout {
  grid-template:
    'header header header' auto
    'headerNav headerNav headerNav' auto
    'leftSidebar main main' auto
    'footer footer footer' auto / 240px auto auto;

  main#content {
    grid-area: main;
    overflow-y: auto;
    padding: var(--padding);
    background: var(--content-background-color);
    border: 2px solid var(--borders);
    border-top: none;
    line-height: 1.5;
    padding-top: 100px;
  }
}
