:root {
  --layout-grid-gap: 5px;
  --max-width: 1300px;
  --padding: 20px;
}

body[data-theme='light'] {
  --cassette-background: #FFD6EB;
  --cassette-border: #FF5EB1;
  --cassette-title-border: #FF5EB1;
  --cassette-background-2: #FF87C3;
  --cassette-shadow: #FFB8DC;
  --cassette-window: #e3e3e3;
  --background-image: url('/images/bg/roses.gif');
  --background: #FFCCE8;
  --borders: #E637BF;
  --content-background-color: #fdfeff;
  --footer-background-color: #F865B0;
  --header-bg-size: normal;
  --header-bg: url('/images/bg/greenstripes.jpg');
  --light: #c6e197;
  --nav-border-bottom: 2px solid var(--nav-border-color);
  --nav-border-color: #CA29A7;
  --nav-button-gradient: linear-gradient(225deg, hsla(82, 55%, 74%, 1) 0%, hsla(315, 86%, 89%, 1) 50%, hsla(313, 78%, 56%, 1) 100%);
  --nav-link-background-color: #FBCAEF;
  --nav-link-background-hover: #F552A4;
  --nav-link-border-color: #F865B0;
  --nav-link-border-hover: #FBCAEF;
  --nav-link-color-hover: #f5f9f0;
  --nav-link: #00120b;
  --pink:#F56FA1;
  --purple: #DF73FF;
  --section-background-color: 136, 221, 241;
  --section-border-color-2: #53a263;
  --section-border-color: #86C192;
  --section-tab-background-color: #C6E197;
  --sidebar-background-color: #FBCAEF;
  --sidebar-text-color: #F9DEC9;
  --text-color: #00120B;
}

body[data-theme='dark'] {
  --background: #FEDFED;
  --nav-link: #f03592;
  --nav-link-background-color: #fae3e2;
  --nav-link-border-color: #fca4a0;
  --nav-link-background-hover: #f552a4;
  --nav-link-border-hover: #f03592;
  --nav-link-color-hover: #f5f9f0;
  --nav-border-color: #fedfed;
  --nav-border-bottom: 2px solid var(--nav-border-color);
  --nav-button-gradient: linear-gradient(90deg, rgba(214, 124, 217, 1) 0%, rgba(214, 124, 217, .4) 100%);
  --section-tab-background-color: #331a0f;
  --footer-background-color: #331a0f;
  --content-background-color: #331a0f;
  --sidebar-background-color: #613030;
  --sidebar-text-color: #fedfed;
  --black: white;
  --header-bg: url('/images/bg/browncrossstitch.gif');
  --header-bg-size: normal;
  --background-image: url('/images/bg/darkbrown.gif');
  --section-background-color: 175, 104, 167;
  --section-border-color: #d67cd9;
  --light: #56313b;
  --pink: #a06674;
  --purple: #865360;
  --text-color: #e8cfd3;
  --borders: #d67cd9;
  --background: #1a181b;
}
