:root {
  --asideBackgroundColor: #ffd3ef;
  --asideTextColor: #922a45;
  --background: #b1e1e2;
  --backgroundColor: #ffecf8;
  --black: black;
  --bodyfont: var(--font-pixel-sans);
  --borderColor: #d47b83;
  --borders: #ff8a9d;
  --burger: #4b4bc3;
  --burgericon: url('/images/icons/burger.svg');
  --header-bg: url('/images/bg/clouds.gif');
  --background-image: url('/images/bg/unicorn.jpeg');
  --buttonbg: #cbe6e6;
  --buttoncolor: #51747b;
  --closeicon: url('/images/icons/close.svg');
  --color: #333;
  --content-background-color: #ffecf8;
  --dark: #9c595e;
  --font-size: 1.5rem;
  --footerbg: #fff0f0;
  --footercolor: #d22d6c;
  --footerhover: #ff997a;
  --footerlink: #f7a1b2;
  --formbg: #f5f5f5;
  --formcolor: #51747b;
  --green: #9adb9b;
  --greenActive: #a8db9a;
  --header: #95ccd4;
  --headerfont: var(--font-pixel-serif);
  --light: #ffd3ef;
  --linkColor: #7e5a9b;
  --linkColorHover: #f0b207;
  --linkhover: #f0b207;
  --mainBackgroundColor: #ffecf8;
  --mainBorder: 2px solid #d47b83;
  --margin: 10px;
  --navcolor: #333;
  --navhover: #f9b14e;
  --navhoverbg: #fff5e0;
  --navlink: #ebb1fa;
  --navlinkbg: #f6d88e;
  --navtexthover: #b1fae0;
  --navtextlink: #fab1cc;
  --overlay: rgb(0, 0, 0, 0.3);
  --padding: 20px;
  --pink: #df90a4;
  --purple: #d47b83;
  --red: #ab061d;
  --round-borders: 15px;
  --sidebar-background-color: transparent;
  --sidebar-width: 200px;
  --textColor: #922a45;
  --textColorBold: #7e243c;
  --veryLight: #ffecf8;
  --white: white;
  --yellow: #ffba39;
}

[data-theme='dark'] {
  --white: black;
  --black: white;
  --header-bg: url('/images/bg/clouds.gif');
  --background-image: url('/images/bg/night.gif');
  --veryLight: #ffecf8;
  --light: #56313b;
  --pink: #a06674;
  --purple: #865360;
  --dark: #9c595e;
  --textColor: #e8cfd3;
  --textColorBold: #e5cbcf;
  --linkColor: #b48591;
  --linkColorHover: var(--green);
  --green: #1b5e3c;
  --greenActive: #1b5e3c;
  --red: #ff0024;
  --yellow: #ca8608;
  --backgroundColor: #271e20;
  --mainBackgroundColor: #2a2123;
  --asideBackgroundColor: #1e1a1b;
  --asideTextColor: #cac6c6;
  --borderColor: black;
  --mainBorder: 2px solid black;
}
