@import '../styles/wordpress.css';

:root {
  --background: #b1e1e2;
  --asideBackgroundColor: #ffd3ef;
  --asideTextColor: #922a45;
  --backgroundColor: #ffecf8;
  --black: black;
  --bodyfont: var(--font-pixel-sans);
  --borderColor: #d47b83;
  --borders: #ff8a9d;
  --burger: #4b4bc3;
  --burgericon: url("/images/icons/burger.svg");
  --buttonbg: #cbe6e6;
  --buttoncolor: #51747b;
  --closeicon: url("/images/icons/close.svg");
  --color: #333;
  --dark: #9c595e;
  --footerbg: #fff0f0;
  --footercolor: #d22d6c;
  --footerhover: #ff997a;
  --footerlink: #f7a1b2;
  --formbg: #f5f5f5;
  --formcolor: #51747b;
  --green: #9adb9b;
  --greenActive: #a8db9a;
  --header: #95ccd4;
  --headerfont: var(--font-pixel-serif);
  --light: #ffd3ef;
  --linkColorHover: #f0b207;
  --linkColor: #7E5A9B;
  --linkhover: #f0b207;
  --mainBackgroundColor: #ffecf8;
  --mainBorder: 2px solid #d47b83;
  --navcolor: #333;
  --navhover: #f9b14e;
  --navhoverbg: #fff5e0;
  --navlink: #EBB1FA;
  --navlinkbg: #f6d88e;
  --navtexthover: #B1FAE0;
  --navtextlink: #FAB1CC;
  --overlay: rgb(0, 0, 0, 0.3);
  --pink: #df90a4;
  --purple: #d47b83;
  --red: #ab061d;
  --textColor: #922a45;
  --textColorBold: #7e243c;
  --veryLight: #ffecf8;
  --white: white;
  --yellow: #ffba39;
}

.dark-mode {
  --white: black;
  --black: white;
  --veryLight: #ffecf8;
  --light: #56313b;
  --pink: #a06674;
  --purple: #865360;
  --dark: #9c595e;
  --textColor: #e8cfd3;
  --textColorBold: #e5cbcf;
  --linkColor: #b48591;
  --linkColorHover: var(--green);
  --green: #1b5e3c;
  --greenActive: #1b5e3c;
  --red: #ff0024;
  --yellow: #ca8608;
  --backgroundColor: #271e20;
  --mainBackgroundColor: #2a2123;
  --asideBackgroundColor: #1e1a1b;
  --asideTextColor: #cac6c6;
  --borderColor: black;
  --mainBorder: 2px solid black;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-pixel-sans), monospace, sans-serif, "MS gothic";
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  color: var(--textColor);
  background: url('/images/bg/unicorn.jpeg') var(--backgroundColor);
  cursor: url('/cursors/rainbow.cur') 1 1, auto;
  margin: 0;
  padding: 5px;

  @media(max-width: 576px) {
    margin: 0;
    padding-top: 0;
  }
}

body.readable-font {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.013em;
  line-height: 1.6;
}

body.readable-font main strong {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
}

body a,
body a:hover,
body a:focus,
body a:visited {
  color: var(--textColor);
  cursor: url('/cursors/pointer.cur') 7 5, pointer;
}

body a[data-fslightbox] {
  cursor: zoom-in;
}

body button {
  font-family: var(--font-cute);
  font-size: 1.3rem;
  line-height: 1.5;
  cursor: url('/cursors/pointer.cur') 7 5, pointer;
}

@media(min-width: 576px) {
  .mobile-only {
    display: none !important;
  }
}

@media(max-width: 576px) {
  .desktop-only {
    display: none !important;
  }
}

.custom-scrollbar {
  scrollbar-color: var(--pink) var(--veryLight);
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: var(--veryLight)
}

main a:hover,
main a:focus {
  color: var(--link-color-hover);
  text-decoration-style: wavy;
}

main p,
main .image,
main .full-width-image,
main .two-columns {
  margin: 0.75em 0;
}

main ol,
main ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

main ol li,
main ul li {
  margin-bottom: 0.2em;
  line-height: 1.3;
}

main ol {
  padding-left: 2em;
}

main blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
}

main pre {
  margin: 1em 0 1.5em;
}

main code {
  text-transform: none;
}

main center {
  margin: 1em 0;
  padding: 0 1em;
}

main hr {
  border: 0;
  border-top: 2px dotted green;
  margin: 1.5em 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: var(--heading-font);
  margin-bottom: 0;
  line-height: 1.5;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main h1 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.4em;
}

main h3 {
  font-size: 1.3em;
}

main h4 {
  font-size: 1.2em;
}

main h5 {
  font-size: 1.1em;
}

main h6 {
  font-size: 1em;
}

ont-weight: bold;
}

.skiplink:not(:focus) {
  display: block;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.full-width-image img {
  display: block;
  width: 100%;
  height: auto;
}

body:not(.reduced-layout)::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  height: 50px;
  z-index: 9999;
  pointer-events: none;
}

body.dark-mode::after {
  display: none;
}

#content {
  max-width: 100%;
  width: 1250px;
  display: flex;
  flex-direction: column;

  @media(max-width: 992px) {}
}

#theme-toggler {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 999999;

  button {
    display: flex;
    align-content: center;
    border: 1px solid var(--dark);
    color: var(--black);
    background: var(--purple);
    background-image: linear-gradient(to top, var(--purple) 16%, var(--pink) 79%);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 15px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  span {
    letter-spacing: .5px;
  }

  img {
    display: block;
    margin-right: .5rem;
  }

  @media(max-width: 576px) {
    display: none;
  }
}

#font-toggler {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 999999;

  button {
    display: flex;
    align-content: center;
    border: 1px solid var(--dark);
    color: var(--black);
    background: var(--purple);
    background-image: linear-gradient(to top, var(--purple) 16%, var(--pink) 79%);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 15px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  @media(max-width: 576px) {
    display: none;
  }
}

body.readable-font #font-toggler button {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.only-show-in-dark-mode {
  display: none;
}

#back-to-top-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  line-height: 1;
  transform: translateY(20px);
  transition: .5s ease;
  pointer-events: none;
  z-index: 9999;

  @media(max-width: 576px) {
    display: none;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  a {
    padding: 7px 8px;
    background: var(--backgroundColor);
    border-radius: 10px;
    border: 1px solid var(--pink);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: .2s ease;
    color: var(--linkColor);

    &:focus,
    &:hover {
      color: var(--white);
      border-color: var(--white);
      background: var(--pink);
    }
  }
}

main {
  background: var(--mainBackgroundColor);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  border-top: var(--mainBorder);
  border-bottom: var(--mainBorder);

  @media(min-width: 1000px) {
    padding: 1em;
  }

  @media(max-width: 576px) {
    border-top: none;
    border-bottom: none;
  }

  section {
    position: relative;
    width: 100%;
    padding: 2em;
    border: 2px #d47b83 dotted;
    border-radius: 10px;
    margin-bottom: 1em;
    background: var(--mainBackgroundColor);

    @media(max-width: 576px) {
      padding: 1em;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

}

header#header {
  text-align: center;
  margin-bottom: -30px;
  z-index: 1;
  background: url('/images/bg/clouds.gif') no-repeat center var(--header);
  background-size: cover;

  .header-title {
    margin: 0;
    padding: 10px;
    font-size: 4rem;

    a {
      display: inline-block;
      text-decoration: none;
      font-family: var(--font-handwritten-bold);
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color: white;
      transition: transform .2s ease;
      transform: none;

      &:hover,
      &:focus {
        transform: scale(1.03);
      }
    }

    @media screen and (max-width: 799px) {
      font-size: 3.5rem;
    }

    @media(max-width: 576px) {
      font-size: 2.5rem;
    }
  }

  @media(max-width: 576px) {
    margin-bottom: 0;
  }
}

.rainbow .char {
  color: hsl(calc(360deg * var(--char-percent)), 90%, 75%);
}

.rainbow.animated .char {
  animation: rainbow-colors 2s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer-content {
  text-align: center;
  padding: 5px 8px;
  font-size: .9rem;
  background: var(--backgroundColor);
  border-radius: 3px;
  border: 1px solid var(--pink);

  i {
    font-style: normal;
    display: inline-block;
    padding: 0 1px;
  }

  a {
    cursor: url('/cursors/pointer.cur') 7 5, pointer;

    &:hover,
    &:focus {
      cursor: url('/cursors/pointer.cur') 7 5, pointer;
      color: var(--linkColorHover);
    }
  }

  &.mobile-only {
    background: none;
    border: none;
  }
}

.footer-rss {
  display: inline-block;
  vertical-align: sub;
  margin-right: 4px;

  img {
    display: block;
    margin-bottom: -1px;
    height: 16px;
  }

  &:hover img,
  &:focus img {
    transform: scale(1.2);
  }
}

#no-js-warning {
  background: var(--dark);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 50px;
  text-align: center;
  opacity: 0;
  animation: noJsFade ease 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 9999999;
}

.-js #no-js-warning {
  display: none
}

@keyframes noJsFade {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#skip-to-content-link,
#skip-to-sitemap-link {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: .375rem .75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--purple);
  color: var(--white);
  transform: translateY(-3rem);
  transition: transform .1s ease-in;
  z-index: 99999999999;

  @media(max-width: 992px) {
    font-size: 1rem;
  }

  @media(max-width: 576px) {
    font-size: 1rem;
  }
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within,
#skip-to-sitemap-link:focus,
#skip-to-sitemap-link:focus-within {
  transform: translateY(0)
}

#skip-to-sitemap-link {
  left: 10em;

  @media(max-width: 576px) {
    left: 9em;
  }
}

.aside {
  position: relative;
  background: var(--asideBackgroundColor);
  padding: 10px 14px;
  color: var(--asideTextColor);

  hr {
    border: none;
    border-bottom: 1px dashed var(--asideTextColor);
    margin: 2em 0;
  }

  img[src*=divider] {
    display: block;
    width: 100%;
    height: auto;
    margin: 1em 0;
  }

  a[href*=nekoweb] {
    color: var(--textColor);
    border: 1px solid var(--textColor);
    background: hsla(0, 0%, 100%, .2);
    border-radius: 4px;
    padding: 0px 7px;
    cursor: pointer;
    font-family: "MS UI Gothic", Verdana, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: var(--asideBackgroundColor);
    }
  }
}

.aside-stuff {
  position: relative;
  line-height: 1.5;
}

.aside-stuff:not(:first-child) {
  margin-top: 30px
}

.aside-stuff__heading {
  text-align: right;
  position: absolute;
  top: -10px;
  right: 1px;
  line-height: 1;
  padding: 0 .5em;
  user-select: none;
  border-radius: 10px;
  background: var(--asideBackgroundColor);
  z-index: 2
}

.aside-stuff__heading a,
.aside-stuff__heading a:visited {
  color: var(--asideTextColor);
  text-decoration: none
}

.aside-stuff__heading a:hover,
.aside-stuff__heading a:focus {
  color: var(--asideTextColor);
  text-decoration: underline;
  text-decoration-style: wavy
}

.aside-stuff__heading img {
  display: inline-block;
  margin-left: .5em;
  animation: floatingImage 1s ease infinite
}

@media(prefers-reduced-motion) {
  .aside-stuff__heading img {
    animation: none
  }
}

.aside-stuff__guestbook {
  display: inherit;
  transition: transform .2s ease;

  img {
    width: 145px;
    height: auto;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.aside-navlinks {
  width: 170px;
  height: 170px;
}

.aside-link-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px dashed;
  padding: 1em
}


.aside-link-back p {
  font-size: .8em;
  margin: .4em 0 .9em;
  line-height: 1.2;
  text-align: center
}

.aside-link-back a img {
  transition: transform .2s ease
}

.aside-link-back a img:hover,
.aside-link-back a img:focus {
  transform: scale(1.07)
}

.aside-link-back .code-textarea {
  width: 100%
}

.aside-link-back .aside-stuff__heading img {
  vertical-align: bottom
}

.aside-changelog {
  position: relative;
  margin-top: 3em
}

.aside-changelog .aside-stuff__heading img {
  vertical-align: bottom
}

.changelog {
  max-height: 110px;
  overflow-y: scroll;
  overflow-x: clip;
  margin-top: .5em;
  font-size: .95em;
  border: 1px dashed;
  padding: 1em;
  list-style: none
}

.changelog ul {
  margin: 0;
  font-size: .9em;
  line-height: 1.2;
  padding-left: 10px
}

.changelog,
.changelog a {
  color: var(--asideTextColor)
}

.changelog__entry {
  font-size: .9em;
  line-height: 1.2
}

.changelog__entry:not(:first-child) {
  margin-top: 1em
}

.changelog__entry a,
.changelog__entry a:visited,
.changelog__entry a:hover,
.changelog__entry a:focus {
  text-decoration: none;
  cursor: url("/cursors/pointer.cur") 7 5, pointer;
  display: block;
  color: var(--asideTextColor)
}

.changelog__entry strong {
  display: block;
  margin-bottom: .2em
}

.changelog__entry strong::after {
  content: ":"
}

.aside-stats__stat {
  position: relative;
  border: 1px dashed;
  padding: 1em;
  padding-top: 1.2em;
  margin-top: 1em
}

.aside-stats__stat:not(:last-child) {
  margin-bottom: 1.5em
}

.aside-stats__stat .aside-stuff__heading img {
  vertical-align: middle
}

.aside-stats__stat .aside-stuff__heading img[src*=happy] {
  vertical-align: bottom
}

.aside-stats__stat-content {
  line-height: 1.2;
  font-size: .9em
}

.aside-stats__stat-content a,
.aside-stats__stat-content a:visited,
.aside-stats__stat-content a:hover,
.aside-stats__stat-content a:focus {
  text-decoration: none;
  color: var(--asideTextColor)
}

#hitcount {
  display: block;
  font-size: 1.5em;
  letter-spacing: .1em;
  text-align: center
}

#statuscafe-username {
  font-size: .8em;
  min-height: 1em;
  margin-bottom: .5em
}

#statuscafe-username a {
  font-size: 1em;
  font-style: italic;
  font-weight: bold
}

#statuscafe-content {
  font-size: .95em;
  min-height: 2.5em;
  line-height: 1
}

#statuscafe-content a {
  display: block;
  margin-top: 3px;
  opacity: .7;
  font-style: italic
}

#statuscafe-content a:hover,
#statuscafe-content a:focus {
  font-style: normal;
  opacity: 1;
  text-decoration: underline
}

.aside-currently {
  position: relative;
  line-height: 1.2;
  font-size: .9em;
  border: 1px dashed;
  padding: 1em;
  padding-top: 1.2em;
  padding-bottom: .5em
}

.aside-currently .aside-stuff__heading {
  top: -7px
}

.aside-currently img[src*=equalizer] {
  filter: brightness(0.8) contrast(1.5) saturate(1.5)
}

.aside-currently #song:not(.nowplaying)+img[src*=equalizer] {
  display: none
}

.aside-currently ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.aside-currently li {
  margin-bottom: 10px
}

.aside-currently a,
.aside-currently a:visited,
.aside-currently a:hover,
.aside-currently a:focus {
  text-decoration: none;
  color: var(--asideTextColor)
}

.aside-currently img {
  height: 13px;
  width: auto
}

.aside-blinkies {
  display: block;
  border: 1px dashed;
  padding: 1em;
  padding-bottom: 8px;
  margin-top: 1.5em !important
}

.aside-blinkies .marquee>*>* {
  margin-right: .5em
}

.aside-poll {
  border: 1px dashed;
  padding-top: 1.2em;
  padding-bottom: .5em;
  padding-right: .5em;
  padding-left: .75em
}

.aside-poll .aside-stuff__heading {
  top: -14px;
  padding: .2em .5em;
  right: -4px
}

.aside-poll form>div {
  background-color: rgba(0, 0, 0, 0) !important;
  color: inherit !important;
  font-size: .9em !important;
  width: 100% !important;
  font-family: inherit !important;
  padding: 0 !important;
  line-height: 1 !important;
  margin-left: -5px;
  margin-right: -5px
}

.aside-poll form>div>div {
  padding: 2px 5px 4px 5px !important
}

.aside-poll form>div>div strong {
  display: block;
  line-height: 1.2;
  margin-bottom: .5em
}

.aside-poll form>div>div strong small {
  font-weight: normal;
  font-size: .7em;
  letter-spacing: -0.7px;
  opacity: .75
}

.aside-poll form>div input[type=radio] {
  margin-top: 2px;
  margin-right: 5px
}

.aside-poll form>div input[type=radio]+label {
  margin-top: 3px;
  max-width: calc(100% - 25px)
}

.aside-poll form>div [align=center] {
  margin-top: .5em
}

.aside-poll form>div>div:last-child {
  display: none
}

.aside-chatbox {
  position: relative
}

.aside-chatbox .aside-stuff__heading {
  top: -14px;
  padding: .2em .5em;
  right: -4px
}

.aside-chatbox iframe[src*=cbox] {
  z-index: 1;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.aside-chatbox::after {
  content: "";
  position: absolute;
  top: calc(100% - 17px);
  width: 100%;
  background-image: url(https://i.imgur.com/vE1cl1e.gif);
  background-repeat: repeat-x;
  height: 32px;
  filter: saturate(2)
}

.aside-nav {
  padding: 1em 0;
  user-select: none
}

.aside-nav ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.aside-nav li {
  line-height: 1;
  position: relative;
  margin-right: -7px;
  width: 100%
}

.aside-nav li a {
  display: block
}

.aside-nav li a:hover,
.aside-nav li a:focus {
  text-decoration: underline
}

.aside-nav li a:hover.active,
.aside-nav li a:focus.active {
  text-decoration: none
}

.aside-nav li details>strong {
  padding-left: 1em;
  margin-top: .75em;
  margin-bottom: .25em;
  display: block
}

.aside-nav li details[open] summary {
  font-weight: bold;
  font-style: italic
}

.aside-nav li details[open] summary .aside-nav__new {
  display: none
}

.aside-nav li details[open] summary small {
  display: none
}

.aside-nav li details.active summary {
  font-weight: bold;
  font-style: italic
}

.aside-nav li summary {
  list-style-position: outside;
  padding-left: 1em;
  margin-left: 20px
}

.aside-nav li summary::marker {
  color: var(--green)
}

.aside-nav li summary small {
  font-size: .6em;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  letter-spacing: 0
}

.aside-nav li summary small:not(.aside-nav__new) {
  opacity: .7
}

.aside-nav li a,
.aside-nav li summary {
  position: relative;
  padding: 2px 5px 4px;
  padding-right: 0;
  color: asideTextColor;
  text-decoration: none;
  cursor: url("/cursors/pointer.cur") 7 5, pointer;
  font-family: "rainyhearts", monospace, sans-serif, "Share Tech Mono", "rainyhearts", monospace, sans-serif, "MS gothic", sans-serif;
  letter-spacing: -0.04em;
  font-size: 19px;
  border-radius: 3px
}

.aside-nav li a:hover,
.aside-nav li a:not(summary):focus,
.aside-nav li summary:hover,
.aside-nav li summary:not(summary):focus {
  color: var(--white);
  background-color: var(--pink)
}

.aside-nav li a:hover.active,
.aside-nav li a:not(summary):focus.active,
.aside-nav li summary:hover.active,
.aside-nav li summary:not(summary):focus.active {
  text-decoration: none
}

.aside-nav li a.active,
.aside-nav li summary.active {
  color: var(--white);
  background-color: var(--pink)
}

.aside-nav li a img:not([src*="link.png"]),
.aside-nav li summary img:not([src*="link.png"]) {
  display: inline-block;
  margin-right: 11px;
  animation: floatingImage 1s ease infinite
}

@media(prefers-reduced-motion) {

  .aside-nav li a img:not([src*="link.png"]),
  .aside-nav li summary img:not([src*="link.png"]) {
    animation: none
  }
}

.aside-nav>ul>li:not(:first-child) {
  border-top: 1px dashed
}

.aside-nav ul ul li a {
  padding-left: 25px;
  font-size: 18px
}

.aside-nav ul ul li a::before {
  content: "*";
  position: absolute;
  top: 7px;
  left: 11px;
  font-size: .8em
}

.aside-nav ul li:not(:last-child) ul {
  margin-top: 5px;
  margin-bottom: 15px
}

.aside-nav__heading {
  display: block;
  border: 1px dashed currentColor;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 10px 6px;
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: -1px;
  margin-right: -1px;
  background: var(--yellow)
}

.aside-nav__new {
  display: inline-block;
  transform: translateY(-1px);
  text-transform: uppercase;
  font-family: "rainyhearts", monospace, sans-serif, "Share Tech Mono", "rainyhearts", monospace, sans-serif, "MS gothic", sans-serif;
  font-size: 9px;
  pointer-events: none;
  line-height: 1;
  margin-left: 9px;
  vertical-align: middle
}

.aside-nav__new.aside-nav__new--small {
  margin-left: 5px
}

.aside-nav__new.aside-nav__new--small img {
  width: 25px;
  height: auto
}

#menu-mediarecs img {
  animation: none;
  margin-left: 9px;
  margin-right: 0;
  margin-top: 3px
}

@keyframes floatingImage {
  0% {
    transform: translatey(0px)
  }

  50% {
    transform: translatey(-1px)
  }

  100% {
    transform: translatey(0px)
  }
}

@media(max-width: 992px) {
  .aside {
    padding: 10px 5px
  }

  .aside-stuff__guestbook img {
    width: 110px;
    image-rendering: auto
  }

  .aside-stuff:not(:first-child) {
    margin-top: 15px
  }

  .aside__heading {
    font-size: .7em
  }

  .changelog {
    margin-top: 5px
  }

  .aside-nav__new {
    display: none
  }

  .aside-nav li {
    margin-right: 0
  }

  .aside-nav li summary small:not(.aside-nav__new) {
    display: none
  }

  .aside-nav ul ul li a {
    padding-left: 1em
  }

  .aside-nav ul ul li a::before {
    display: none
  }

  .aside-stats__stat {
    display: none
  }

  .aside-navlinkads {
    width: 97px;
    height: 97px
  }
}

@media(max-width: 576px) {
  #mobile-nav {
    display: block
  }

  #mobile-nav+.aside-nav {
    display: none
  }

  #mobile-nav-toggle {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center
  }

  #mobile-nav-toggle+* {
    display: block
  }

  .aside-nav__heading {
    display: none
  }

  .aside--left {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 2px solid
  }

  .aside--right {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }
}

main {
  position: relative
}

main a,
main a:visited {
  color: var(--linkColor)
}

main a:hover,
main a:focus {
  color: var(--linkColorHover);
  text-decoration-style: wavy;
  font-style: italic
}

main p {
  margin: .5em 0
}

main strong {
  font-family: "rainyhearts", monospace, sans-serif, "Share Tech Mono", "rainyhearts", monospace, sans-serif, "MS gothic", sans-serif;
  color: var(--textColorBold)
}

main .image img {
  max-width: 100%
}

main ol,
main ul {
  margin: .25em 0;
  padding-left: 1.5em
}

main ol li,
main ul li {
  margin-bottom: .15em
}

main ol.list-with-more-spacing li:not(:last-child),
main ul.list-with-more-spacing li:not(:last-child) {
  margin-bottom: .5em
}

main ol.list-with-less-spacing li,
main ul.list-with-less-spacing li {
  margin-bottom: 0
}

main ol {
  padding-left: 2em
}

main blockquote {
  background: rgba(223, 144, 164, .2);
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px
}

main blockquote>*:first-child {
  margin-top: 0
}

main blockquote>*:last-child {
  margin-bottom: 0
}

main pre {
  margin: 1em 0 1.5em;
  max-width: 80vw
}

main pre code:not(.hljs),
main pre code.hljs {
  display: block;
  font-weight: normal;
  background: rgba(212, 123, 131, .1);
  padding: 1em;
  border-radius: 10px;
  font-size: .75em;
  line-height: 1.3;
  text-transform: none
}

main pre code:not(.hljs) code,
main pre code.hljs code {
  border-radius: 0
}

main code {
  text-transform: none;
  font-size: 13px;
  font-weight: bold
}

main .code-title {
  text-align: right;
  font-family: "rainyhearts", monospace, sans-serif, "Share Tech Mono", "rainyhearts", monospace, sans-serif, "MS gothic", sans-serif;
  font-size: .9em;
  margin-top: 1em;
  margin-left: 1em
}

main .code-title+pre,
main .code-title+code {
  margin-top: 0
}

main center {
  margin: 1em 0;
  padding: 0 1em
}

@media(min-width: 992px) {
  main center {
    padding: 0 2em
  }
}

main hr {
  border: 0;
  border-top: 2px dotted var(--green);
  margin: 1.5em 0
}

main h1,
main h2,
main h3 {
  margin-bottom: 0;
  line-height: 1.2;
  font-family: "basiic", "rainyhearts", monospace, sans-serif
}

main h1 code,
main h2 code,
main h3 code {
  font-size: .9em;
  font-weight: normal
}

main h1:first-child,
main h2:first-child,
main h3:first-child {
  margin-top: 0
}

main h1 img[src*="inline/"]:not([class]),
main h2 img[src*="inline/"]:not([class]),
main h3 img[src*="inline/"]:not([class]) {
  margin-bottom: -7px
}

main h1 {
  font-size: 30px
}

@media(min-width: 1000px) {
  main h1 {
    font-size: 38px
  }
}

main h2 {
  font-size: 24px
}

@media(min-width: 1000px) {
  main h2 {
    font-size: 30px
  }
}

main h3 {
  font-weight: normal;
  font-size: 22px
}

@media(min-width: 1000px) {
  main h3 {
    font-size: 28px
  }
}

main details summary {
  background: var(--green);
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: .1em .5em;
  cursor: url("/cursors/pointer.cur") 7 5, pointer;
  user-select: none
}

main details summary::before {
  content: "+";
  display: inline-block;
  margin-right: .25em;
  font-size: 30px;
  line-height: 1;
  transition: transform .3s ease
}

main details summary:hover {
  filter: brightness(0.9)
}

main details[open] summary::before {
  transform: rotate(45deg)
}

@media(min-width: 1000px) {
  main details {
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    transition: border-color .3s ease
  }

  main details[open] {
    border-color: var(--green)
  }

  main details[open] summary~* {
    margin-left: 1.5em
  }
}

main abbr {
  text-decoration: underline dashed;
  cursor: help
}

img[src*="inline/"]:not([class]) {
  height: 1em;
  margin: 0 .25em
}

#mobile-nav {
  display: none;
}

.aside--left {
  border: var(--mainBorder);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-area: asideLeft;

  @media(min-width: 1000px) {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.aside--right {
  border: var(--mainBorder);
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-area: asideRight;

  @media(min-width: 1000px) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.aside-nav .aside-scrollbox {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em .5em;
  border: 1px dashed;
  margin: 10px 0;

  @media(min-width: 576px) {
    max-height: 285px;
  }

  strong {
    display: block;
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 15px;

    li a {
      padding-left: 20px;

      &::before {
        left: 6px;
      }
    }
  }
}

.two-columns>*:last-child {
  margin-top: 1em
}

@media(min-width: 576px) {
  .two-columns {
    display: flex
  }

  .two-columns>* {
    flex: 1 1 0
  }

  .two-columns>*:not(ul):not(ol):first-child {
    margin-right: 1em
  }

  .two-columns>*:not(ul):not(ol):last-child {
    margin-left: 1em
  }

  .two-columns>*:last-child {
    margin-top: 0
  }
}


.fslightbox-toolbar-button[title="Enter fullscreen"] {
  display: none
}

#guestbook {
  width: 100%;
  min-height: 610px;
  border: 0
}

#root-page {
  display: grid;
  grid-template: "asideLeft main asideRight" auto / 1fr 3fr 1fr;
}


/* .access-counter { */
/*   display: inline-flex; */
/* } */
/**/
/* #container { */
/*   width: 95%; */
/*   max-width: 1200px; */
/*   margin: 0 auto; */
/*   padding: 10px; */
/*   border: 3px solid var(--borders); */
/*   border-radius: 45px; */
/*   background: #FCE4D8; */
/*   background-image: url('/images/bg/pinkHearts.gif'); */
/*   z-index: 10; */
/*   position: relative; */
/* } */
/**/
/* #layout { */
/*   display: flex; */
/* } */
/**/
/* #header { */
/*   height: 150px; */
/*   background: url('/images/bg/clouds.gif') no-repeat center var(--header); */
/*   border: 3px solid var(--borders); */
/*   overflow: hidden; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   background-size: cover; */
/*   margin-bottom: 10px; */
/*   position: relative; */
/*   z-index: -50; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   border-radius: 45px 45px 0 0; */
/**/
/*   .title { */
/*     position: relative; */
/*     font-size: 5rem; */
/*     font-family: var(--font-handwritten-bold); */
/*     -webkit-text-stroke-width: 5px; */
/*     -webkit-text-stroke-color: white; */
/*   } */
/* } */
/**/
/* #main { */
/*   width: calc(60% - 30px); */
/*   padding: 15px; */
/**/
/*   h1 { */
/*     font: 1.8em var(--headerfont); */
/*     border-bottom: 1px solid var(--borders); */
/*   } */
/**/
/*   h2 { */
/*     font: 1.6em var(--headerfont); */
/*     margin: 5px 0 5px 0; */
/*   } */
/**/
/*   h3 { */
/*     font: 1.4em var(--font-cute); */
/*   } */
/**/
/*   p { */
/*     margin: 10px 0 10px 0; */
/*     line-height: 1.5; */
/*   } */
/**/
/*   a { */
/*     color: var(--linkcolor); */
/*     text-decoration: underline; */
/**/
/*     &:hover { */
/*       color: var(--linkhover); */
/*       text-decoration: none; */
/*     } */
/*   } */
/**/
/*   details { */
/*     padding: 10px; */
/*     background: var(--details); */
/*     margin: 5px; */
/*   } */
/**/
/*   input, */
/*   textarea, */
/*   select { */
/*     color: var(--formcolor); */
/*     background: var(--formbg); */
/*     font: 1rem var(--bodyfont); */
/*     border: 1px solid var(--borders); */
/*     padding: 5px; */
/*   } */
/**/
/*   button { */
/*     color: var(--buttoncolor); */
/*     background: var(--buttonbg); */
/*     font: 1rem var(--bodyfont); */
/*     border: 1px solid var(--borders); */
/*     padding: 5px; */
/*   } */
/**/
/*   ul, */
/*   ol { */
/*     list-style-position: outside; */
/*     margin: 5px 0 5px 0; */
/*   } */
/**/
/*   li { */
/*     margin: 7px 0 7px 0; */
/*     line-height: 1.5; */
/**/
/*     a { */
/*       text-decoration: none; */
/*     } */
/*   } */
/* } */
/**/
/* .breadcrumbs { */
/*   grid-area: breadcrumbs; */
/*   font-family: var(--font-cute); */
/*   font-size: 1rem; */
/*   list-style-type: none; */
/*   padding: 0; */
/*   position: relative; */
/*   z-index: 100; */
/*   margin-bottom: 3.5rem; */
/* } */
/**/
/* .breadcrumbs li { */
/*   display: inline-block; */
/*   position: relative; */
/* } */
/**/
/* .breadcrumbs li:last-child::before, */
/* .breadcrumbs li:last-child::after { */
/*   background: #ffffc0; */
/* } */
/**/
/* .breadcrumbs li:not(:last-child):hover::before, */
/* .breadcrumbs li:not(:last-child):hover::after { */
/*   background: lightsalmon; */
/* } */
/**/
/* .breadcrumbs li::before, */
/* .breadcrumbs li::after { */
/*   content: ""; */
/*   position: absolute; */
/*   left: 0; */
/*   height: 50%; */
/*   width: 100%; */
/*   background: white; */
/*   border-left: 2px solid #666; */
/*   border-right: 2px solid #666; */
/*   z-index: -1; */
/* } */
/**/
/* .breadcrumbs li::before { */
/*   top: -2px; */
/*   transform: skew(30deg); */
/*   border-top: 2px solid #666; */
/* } */
/**/
/* .breadcrumbs li::after { */
/*   bottom: -2px; */
/*   transform: skew(-30deg); */
/*   border-bottom: 2px solid #666; */
/* } */
/**/
/* .breadcrumbs li a, */
/* .breadcrumbs li { */
/*   display: inline-block; */
/*   position: relative; */
/*   line-height: 2.5; */
/*   padding: 0 20px; */
/*   color: #666; */
/*   text-decoration: none; */
/* } */
/**/
/* .breadcrumbs li:first-child { */
/*   background-color: white; */
/*   border-left: 2px solid #666; */
/*   left: -5px; */
/*   box-sizing: content-box; */
/* } */
/**/
/* .breadcrumbs li:first-child:hover { */
/*   background-color: lightsalmon; */
/* } */
/**/
/* .breadcrumbs li:first-child::before, */
/* .breadcrumbs li:first-child::after { */
/*   left: 5px; */
/* } */
/**/
/* #shrine-page { */
/*   grid-template: */
/*     "breadcrumbs breadcrumbs" auto */
/*     "shrineNav shrineNav" auto */
/*     "asideLeft shrineContent" auto */
/*     / 220px auto; */
/*   max-width: 100%; */
/*   width: 1250px; */
/*   display: grid; */
/**/
/*   .shrine-nav { */
/*     display: flex; */
/*     justify-content: space-between; */
/*     grid-area: shrineNav; */
/*     margin-top: 1.5em; */
/*     padding: 0 1em; */
/*   } */
/**/
/*   a { */
/*     color: var(--linkcolor); */
/*     text-decoration: underline; */
/**/
/*     &:hover { */
/*       color: var(--linkhover); */
/*       text-decoration: none; */
/*     } */
/*   } */
/**/
/*   a, */
/*   a:visted { */
/*     color: var(--linkcolor); */
/*   } */
/**/
/*   a:hover, */
/*   a:focus, */
/*   a:active { */
/*     color: var(--linkhover); */
/*     text-decoration: none; */
/*   } */
/**/
/*   .shrine-layout { */
/*     display: grid; */
/*     grid-gap: 10px; */
/*     width: 100%; */
/*     grid-template: "breadcrumbs breadcrumbs" auto "sidebar shrineContent" auto / 200px auto; */
/*   } */
/**/
/*   aside { */
/*     grid-area: sidebar; */
/*     border: 3px solid var(--borders); */
/*     overflow: hidden; */
/*     background-color: var(--navbg); */
/*     padding: 20px; */
/*   } */
/**/
/*   main { */
/*     grid-area: shrineContent; */
/*     border: 3px solid var(--borders); */
/*     overflow: hidden; */
/*     background-color: var(--mainBackgroundColor); */
/*     padding: 20px; */
/*   } */
/**/
/* } */
/**/
/* ::selection { */
/*   background: rgba(140, 245, 39, 0.57); */
/* } */
/**/
/* #landing-page { */
/*   overflow-x: hidden; */
/*   background-image: url('/images/bg/pinkcheck.gif'); */
/*   animation: scroll 60s linear infinite; */
/*   grid-area: 1 / 2 / 5 / 5; */
/*   border: 3px solid var(--borders); */
/*   box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5); */
/**/
/*   #status-container { */
/*     grid-area: 2 / 1 / 3 / 2; */
/*   } */
/**/
/*   #vibes { */
/*     padding-top: 10px; */
/*     border: 3px solid #ecac09; */
/*     background-color: #fbd87f; */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     flex-direction: column; */
/**/
/*     .track-cover { */
/*       border-radius: 50%; */
/*       border: 3px solid #FCE4D8; */
/*     } */
/**/
/*     .track-info { */
/*       font-size: 1.2rem; */
/*       font-family: var(--font-cute); */
/*     } */
/**/
/*     a { */
/*       display: block; */
/*       width: fit-content; */
/*       margin: 10px auto; */
/*       padding: 5px; */
/*     } */
/**/
/*     img.pixel-girl { */
/*       padding: 0; */
/*       margin: 0; */
/*       align-self: flex-end; */
/*     } */
/*   } */
/**/
/*   #statuscafe { */
/*     background-color: var(--mainBackgroundColor); */
/*     border-radius: 15px; */
/*     box-sizing: border-box; */
/*     margin: 10px; */
/*     padding: 10px; */
/*     width: 80%; */
/*   } */
/**/
/*   #statuscafe-username { */
/*     margin-bottom: 3px; */
/*     font-weight: bold; */
/*   } */
/**/
/*   #welcome { */
/*     padding: 10px; */
/*     overflow-x: hidden; */
/**/
/*     .welcome-content { */
/*       padding: 15px; */
/*       margin: 0 auto; */
/*       text-align: center; */
/*     } */
/**/
/*     .index-welcome-grid { */
/*       display: grid; */
/*       grid-template-columns: repeat(2, 1fr); */
/*       grid-column-gap: 10px; */
/*       grid-row-gap: 20px; */
/*       padding: 15px; */
/*     } */
/**/
/*     #index-welcome-main { */
/*       grid-area: 1 / 1 / 2 / 3; */
/*       border: 3px solid var(--borders); */
/*       background-color: var(--mainBackgroundColor); */
/*       overflow-x: hidden; */
/*       box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5); */
/**/
/*       h2 { */
/*         text-align: center; */
/*         margin: 5px; */
/*         margin-bottom: 20px; */
/*         color: var(--header); */
/*         font-weight: bold; */
/*         font-size: 2.5rem; */
/*         filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white) drop-shadow(0px 1px 1px #FF73BA) drop-shadow(0px 1px 1px #FF73BA); */
/*       } */
/**/
/*       img:first-of-type { */
/*         float: right; */
/*         height: 170px; */
/*         display: inline; */
/*         filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white) drop-shadow(0px 1px 1px #FF73BA) drop-shadow(0px 1px 1px #FF73BA); */
/*         margin: 10px; */
/*       } */
/*     } */
/**/
/*     @media screen and (max-width: 799px) { */
/*       width: 100%; */
/*       margin: 0 auto; */
/*     } */
/*   } */
/**/
/*   @media screen and (max-width: 799px) { */
/*     justify-content: center; */
/*     align-items: center; */
/*   } */
/* } */
/**/
/* #slug-page { */
/*   background-color: var(--mainBackgroundColor); */
/*   max-width: 90%; */
/*   margin: 0 auto; */
/*   border: 3px solid var(--borders); */
/*   box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5); */
/*   padding: 20px 40px; */
/* } */
/**/
/* #right .updates { */
/*   background-color: var(--mainBackgroundColor); */
/*   border: 2px solid var(--borders); */
/*   border-top: 0; */
/*   padding: 15px 5px; */
/**/
/*   img.bullet { */
/*     height: 15px; */
/*     margin: 5px 3px 0 3px; */
/*     float: left; */
/*   } */
/**/
/*   .update { */
/*     span { */
/*       background-color: #B5F8FE; */
/*       padding: 3px; */
/*       font-size: 14px; */
/*       font-weight: bold; */
/*       font-style: italic; */
/*       margin-bottom: 3px; */
/*     } */
/**/
/*     img:last-child { */
/*       display: block; */
/*       margin: 12px auto; */
/*     } */
/**/
/*     div { */
/*       padding: 10px; */
/*       margin: 5px auto; */
/*       font-size: 16px; */
/*       text-align: left; */
/*     } */
/*   } */
/* } */
/**/
/* .section-tab { */
/*   text-align: left; */
/*   border-top: 2px solid white; */
/*   border-left: 2px solid white; */
/*   border-right: 2px solid var(--borders); */
/*   border-bottom: 3px solid var(--borders); */
/*   padding: 1px; */
/*   background-color: #FBB1CC; */
/*   position: relative; */
/**/
/*   .section-icon { */
/*     height: 15px; */
/*     margin: 5px 3px 0 3px; */
/*     float: left; */
/*   } */
/**/
/*   .section-title { */
/*     display: inline-block; */
/*     margin: 1px 1px 5px 5px; */
/*     color: var(--borders); */
/*     font-size: 18px; */
/*     font-weight: bold; */
/*     font-family: var(--font-gothic); */
/*     filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white) drop-shadow(0px 1px 1px #FF73BA) drop-shadow(0px 1px 1px #FF73BA); */
/*   } */
/* } */
/**/
/* #sidebar { */
/*   position: sticky; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-self: start; */
/*   border: 3px solid var(--borders); */
/*   background-color: #FCE4D8; */
/*   top: 10px; */
/*   box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5); */
/* } */
/**/
/* #sidebar a { */
/*   background: linear-gradient(90deg, rgba(255, 218, 237, 1) 0%, rgba(255, 218, 237, 0) 100%); */
/*   border-top: 1px solid white; */
/*   border-left: 1px solid white; */
/*   border-right: 1px solid white; */
/*   border-bottom: 2px solid #F98AB3; */
/*   color: #e664ae; */
/*   font-family: var(--font-cute); */
/*   font-size: 18px; */
/*   font-weight: bold; */
/*   margin: 0; */
/*   text-align: center; */
/*   display: block; */
/**/
/*   &:hover { */
/*     background: linear-gradient(90deg, rgba(196, 250, 255, 1) 0%, rgba(196, 250, 255, 0) 100%); */
/*   } */
/* } */
/**/
/* .menu { */
/*   padding: 10px; */
/*   width: calc(20% - 30px); */
/*   font-size: 0.9rem; */
/**/
/*   section { */
/*     margin-bottom: 10px; */
/*   } */
/**/
/*   .text p { */
/*     color: var(--navcolor); */
/*     margin: 5px 0 5px 0; */
/*     line-height: 1.4; */
/*     font-size: 0.9rem; */
/*   } */
/**/
/*   .text a { */
/*     color: var(--navtextlink); */
/*     text-decoration: none; */
/**/
/*     &:hover { */
/*       color: var(--navtexthover); */
/*       text-decoration: underline; */
/*     } */
/*   } */
/**/
/*   ul { */
/*     list-style: none; */
/*     margin: 0; */
/*   } */
/**/
/*   li a { */
/*     display: block; */
/*     background: var(--navlinkbg); */
/*     color: var(--navlink); */
/*     margin: 0 0 2px 0; */
/*     text-decoration: none; */
/*     padding: 2px; */
/**/
/*     &:hover { */
/*       background: var(--navhoverbg); */
/*       color: var(--navhover); */
/*       text-decoration: none; */
/*     } */
/*   } */
/**/
/*   h2 { */
/*     font: 1.3em var(--font-gothic); */
/*     color: var(--navcolor); */
/*   } */
/* } */
/**/
/* footer { */
/*   padding: 15px; */
/*   text-align: center; */
/*   margin: 10px 0 0 0; */
/*   color: var(--footercolor); */
/*   background: var(--footerbg); */
/*   border: 3px solid var(--borders); */
/*   opacity: 0.7; */
/*   font-size: 1.2rem; */
/*   border-radius: 0 0 45px 45px; */
/**/
/*   a { */
/*     color: var(--footerlink); */
/*     text-decoration: underline; */
/**/
/*     &:hover { */
/*       color: var(--footerhover); */
/*       text-decoration: none; */
/*     } */
/*   } */
/* } */
/**/
/* #burger { */
/*   display: none; */
/*   width: 100%; */
/*   top: 0; */
/**/
/*   summary { */
/*     position: relative; */
/*     list-style-type: none; */
/*     cursor: pointer; */
/*     display: flex; */
/*     align-items: center; */
/*     color: var(--burger); */
/*     padding: 5px; */
/*     background: var(--background); */
/*   } */
/* } */
/**/
/* #burger summary::before, */
/* #burger[open]>summary::before { */
/*   height: 40px; */
/*   width: 40px; */
/*   background: var(--burger); */
/* } */
/**/
/* #burger summary::-webkit-details-marker { */
/*   display: none; */
/* } */
/**/
/* #burger summary::before { */
/*   content: ''; */
/*   mask-image: var(--burgericon); */
/*   -webkit-mask-image: var(--burgericon); */
/*   mask-size: 40px; */
/*   -webkit-mask-size: 40px; */
/* } */
/**/
/* #burger[open]>summary::before { */
/*   content: ''; */
/*   mask-image: var(--closeicon); */
/*   -webkit-mask-image: var(--closeicon); */
/*   mask-size: 40px; */
/*   -webkit-mask-size: 40px; */
/* } */
/**/
/* #burger[open] { */
/*   background: var(--overlay); */
/*   z-index: 1000; */
/* } */
/**/
/* .skip a { */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/*   display: inline-block; */
/*   padding: .375rem .75rem; */
/*   line-height: 1; */
/*   font-size: 1.25rem; */
/*   background-color: var(--purple); */
/*   color: var(--white); */
/*   transform: translateY(-3rem); */
/*   transition: transform .1s ease-in; */
/*   z-index: 99999999999; */
/* } */
/**/
/* .skip a:focus { */
/*   position: static; */
/*   width: auto; */
/*   height: auto; */
/* } */
/**/
/* #burger-menu { */
/*   height: calc(100vh - 70px); */
/*   overflow: auto; */
/*   position: relative; */
/*   z-index: 1000; */
/*   background: var(--navbg); */
/*   width: 200px; */
/* } */
/**/
/* #skip a { */
/*   position: relative; */
/*   display: inline-block; */
/*   left: 0px; */
/*   top: -1000px; */
/*   overflow: hidden; */
/*   transition: top 0.5s ease; */
/*   background: var(--mainBackgroundColor); */
/*   color: var(--link); */
/*   z-index: 1100; */
/*   padding: 5px; */
/* } */
/**/
/* #skip a:focus { */
/*   top: 0; */
/*   transition: top 0.5s ease; */
/* } */
/**/
/* .desktopmenulink { */
/*   display: inline; */
/* } */
/**/
/* .mobilemenulink { */
/*   display: none; */
/* } */
/**/
/* @media screen and (max-width: 799px) { */
/*   #container { */
/*     width: calc(100 - 20px); */
/*     margin-top: 50px; */
/*   } */
/**/
/*   #header { */
/*     .title { */
/*       position: relative; */
/*       font-size: 4rem; */
/*       font-family: var(--font-handwritten-bold); */
/*       -webkit-text-stroke-width: 3px; */
/*       -webkit-text-stroke-color: white; */
/*     } */
/*   } */
/**/
/*   #layout { */
/*     display: block; */
/*   } */
/**/
/*   #main { */
/*     margin: auto; */
/*     width: calc(100% - 30px); */
/*   } */
/**/
/*   #left { */
/*     display: none; */
/*   } */
/**/
/*   #burger { */
/*     z-index: 1000; */
/*     position: fixed; */
/*     display: block; */
/*   } */
/**/
/*   #right { */
/*     display: grid; */
/*     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
/*     grid-gap: 5px; */
/*     width: calc(100% - 20px); */
/*     margin-top: 10px; */
/*   } */
/**/
/*   .desktopmenulink { */
/*     display: none; */
/*   } */
/**/
/*   .mobilemenulink { */
/*     display: inline; */
/*   } */
/* } */
/**/
/**/
/* marquee start
*/
/* @media (prefers-reduced-motion:reduce) { */
/*   .marquee { */
/*     animation: none !important; */
/*     padding-left: 0 !important; */
/*   } */
/**/
/*   .marquee img { */
/*     margin-left: 2px; */
/*     margin-right: 2px; */
/*   } */
/* } */
/**/
/* .marquee-container { */
/*   --gap: 400px; */
/*   --speed-to-loop: 35s; */
/*   --timing-function: linear; */
/**/
/*   align-items: top; */
/*   background-color: #FCE4D8; */
/*   border-radius: 15px; */
/*   border: 2px solid #F98AB3; */
/*   display: grid; */
/*   grid-template-areas: "center"; */
/*   height: max-content; */
/*   margin-top: 15px; */
/*   overflow: hidden; */
/*   padding: 0 5px 0 5px; */
/* } */
/**/
/* .marquee { */
/*   animation: marquee var(--speed-to-loop) var(--timing-function) infinite; */
/*   flex-grow: 0; */
/*   flex-shrink: 0; */
/*   grid-area: center; */
/*   min-width: 100%; */
/*   padding-right: var(--gap); */
/*   pointer-events: auto; */
/*   width: max-content; */
/**/
/*   img { */
/*     display: inline; */
/*     image-rendering: crisp-edges; */
/*   } */
/**/
/*   img:hover { */
/*     transform: scale(1.05); */
/*   } */
/* } */
/**/
/* .marquee-copy { */
/*   animation-delay: calc(var(--speed-to-loop)/ -2); */
/* } */
/**/
/* .marquee-container:hover>.marquee { */
/*   animation-play-state: paused; */
/* } */
/**/
/* marquee end
*/
/* Unfortunately, browsers try to take the shortest distance between transition/animation properties, so a simple `0turn` to `1turn` doesn't get the proper effect.
*/
/**/
/* ===== Scrollbar CSS =====
*/
/* Firefox
*/
/* * { */
/*   scrollbar-width: thin; */
/*   scrollbar-color: #26ffe6 #fff7fb; */
/* } */
/**/
/* Chrome, Edge, and Safari
*/
/* *::-webkit-scrollbar { */
/*   width: 5px; */
/* } */
/**/
/* *::-webkit-scrollbar-track { */
/*   background: #fff7fb; */
/* } */
/**/
/* *::-webkit-scrollbar-thumb { */
/*   background-color: #26ffe6; */
/*   border-radius: 10px; */
/*   border: 1px solid var(--color); */
/* } */
/**/
/* Animations
*/
/* Animation for floating sparkles
*/
/* @keyframes float { */
/*   0% { */
/*     transform: translateY(0); */
/*   } */
/**/
/*   50% { */
/*     transform: translateY(-5px); */
/*   } */
/**/
/*   100% { */
/*     transform: translateY(0); */
/*   } */
/* } */
/**/
/* @keyframes scroll { */
/*   from { */
/*     background-position: 0% 0%; */
/*   } */
/**/
/*   to { */
/*     background-position: 100% 0%; */
/*   } */
/* } */
/**/
/* @keyframes marquee { */
/*   0% { */
/*     transform: translateX(100%); */
/*   } */
/**/
/*   100% { */
/*     transform: translateX(-100%); */
/*   } */
/* } */
/**/
@keyframes rainbow-colors {
  0% {
    color: hsl(0turn, 90%, 75%);
  }

  25% {
    color: hsl(.25turn, 90%, 75%);
  }

  50% {
    color: hsl(.5turn, 90%, 75%);
  }

  75% {
    color: hsl(.75turn, 90%, 75%);
  }

  100% {
    color: hsl(1turn, 90%, 75%);
  }
}
