@font-face {
    font-family: 'basiic';
    src: url('basiic.woff2') format('woff2'),
        url('basiic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rainyhearts';
    src: url('rainyhearts.woff2') format('woff2'),
        url('rainyhearts.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romance A';
    src: url('RomanceA.woff2') format('woff2'),
        url('RomanceA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

